{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }} Standards Alignment{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
    <span class="disclaimer">Standards Alignment</span>
{% endblock %}

{% block resources_nav %}
    {% if unit %}
        {% include "curricula/partials/unit_pills.html" with unit=unit %}
    {% else %}
        {% include "curricula/partials/curriculum_pills.html" with curriculum=curriculum %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="together standards row">
    <button class="btn" id="expand-all"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Expand All</button>
    <button class="btn" id="collapse-all"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Collapse All</button>
    {% if unit %}{# If unit is passed, just grab that unit #}
        <div class="together">
            <h2><a href="{{ unit.get_absolute_url }}">{{ unit.long_name }}</a></h2>

            {% for lesson in unit.lessons %}
                <h3><a href="{{ lesson.get_absolute_url }}">
                Lesson {{ lesson.number }}: {{ lesson }}</a></h3>
                {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
            {% endfor %}
        </div>
    {% else %}
        {% for unit in curriculum.units %}
        <div class="together">
            <h2><a href="{{ unit.get_absolute_url }}">Unit {{ unit.number }}: {{ unit.title }}</a></h2>

            {% for lesson in unit.lessons %}
                <h3><a href="{{ lesson.get_absolute_url }}">
                Lesson {{ lesson.number }}: {{ lesson }}</a></h3>
                {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#expand-all").click(function () {
                $("details").each(function() {
                    this.open = true;
                });
            });
            $("#collapse-all").click(function () {
                $("details").each(function() {
                    this.open = false;
                });
            });
        });
    </script>
{% endblock %}
