{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}
{% load i18n %}

{% block meta_title %}{{ curriculum.title }} {% trans "Standards Alignment" %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.1.5/css/tabulator.min.css" rel="stylesheet">
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
    <h2 class="disclaimer">{% trans "Standards Alignment" %}</h2>
{% endblock %}

{% block resources_nav %}
    {% if unit %}
    <ul class="breadcrumb">
        <li><a href={% url 'curriculum:curriculum_view' curriculum.slug %}>< {{ curriculum }}</a></li>
        <li><a href={% url 'curriculum:unit_view' curriculum.slug unit.slug %}>{{ unit }}</a></li>
    </ul>
        {% include "curricula/partials/unit_pills.html" with unit=unit %}
    {% else %}
    <ul class="breadcrumb">
        <li><a href={% url 'curriculum:curriculum_view' curriculum.slug %}>< {{ curriculum }}</a></li>
    </ul>
        {% include "curricula/partials/curriculum_pills.html" with curriculum=curriculum %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="together">
    {% if unit %}
        {% if unit.assessment_commentary %}
        {% editable unit.assessment_commentary %}
            {{ unit.assessment_commentary|richtext_filters|safe }}
        {% endeditable %}
        {% endif %}
    {% else %}
        {% if curriculum.assessment_commentary %}
        {% editable curriculum.assessment_commentary %}
            {{ curriculum.assessment_commentary|richtext_filters|safe }}
        {% endeditable %}
        {% endif %}
    {% endif %}
    </div>
    {% if curriculum.has_cross_curricular_info %}
      <div>
        <h2>How should I use this information?</h2>
        <p>
          <span style="font-weight:900;">{% trans "CSTA Standards Alignment" %}</span>: {%trans "Code.org’s CS Fundamentals course is aligned with the Computer Science Teachers’ Association (CSTA) standards for K-5 students. You can hit these standards by following our lesson plans. You can also see what CSTA standards your class has worked on in the Standards view of the teacher dashboard." %}<a href="https://support.code.org/hc/en-us/articles/360041726272-Can-I-see-my-class-s-progress-on-CSTA-Standards-Is-there-an-easy-progress-report-I-can-send-out-for-my-class-">{% trans "Learn more." %}</a>
        </p>
        <a class="btn" role="button" style="font-size: 16px; padding-left: 0px;" href="{% url 'curriculum:by_curriculum_csv' curriculum.slug %}">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {% trans 'Download standards mapping as CSV' %}
        </a>
        <p>
          <span style="font-weight:900;">{% trans "Cross-Curricular Standards" %}</span>: Computer science helps students with problem-solving, logical thinking, cause and effect, and computational thinking. CS Fundamentals also includes opportunities for teachers to reinforce concepts related to English language arts, mathematics, and science while students are learning computer science. You can help students practice these standards just by following our lesson plans or by making slight adaptations, as outlined in our Cross-Curricular Standards Guidance below.
        </p>
        <a href="https://docs.google.com/document/d/e/2PACX-1vRxKtK0HZ4jlqDG0kf5J8l0p_wTGZRQCwBY8HupNVl2EiPC7qs-57Ct0zMyLxuGEuWJX3lF9QbsDUNY/pub">
          Cross-Curricular Standards Guidance
        </a>
        <h2>{% trans "Standards Alignment" %}</h2>
      </div>
    {% endif %}
    <div class="together standards row" style="margin-left: 0px;">
    <button class="btn" id="expand-all"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> {% trans 'Expand All' %}</button>
    <button class="btn" id="collapse-all"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> {% trans 'Collapse All' %}</button>
    {% if unit %}{# If unit is passed, just grab that unit #}
        <br/>
        {% if not curriculum.has_cross_curricular_info %}
          <a class="btn" role="button" href="{% url 'curriculum:by_unit_csv' curriculum.slug unit.slug %}">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {% trans 'Download as CSV' %}
          </a>
        {% endif %}
        <div class="together">
            <h2><a href="{{ unit.get_absolute_url }}">{{ unit.long_name }}</a></h2>

            {% for lesson in unit.lessons %}
                <h3><a href="{{ lesson.get_absolute_url }}">{% trans 'Lesson' %} {{ lesson.number }}: {{ lesson }}</a></h3>

                {% if lesson.standards.count > 0 %}
                <div class="standards">
                    <h4>{% trans 'Standards Alignment' %}</h4>
                    {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
                </div>
                {% endif %}

                {% if lesson.opportunity_standards.count > 0 %}
                <div class="standards">
                    <h4>{% trans 'Cross-curricular Opportunities' %}</h4>
                    {% include "standards/partials/standard_list.html" with standards=lesson.opportunity_standards.all %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <br/>
        {% if not curriculum.has_cross_curricular_info %}
          <a class="btn" role="button" href="{% url 'curriculum:by_curriculum_csv' curriculum.slug %}">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {% trans 'Download as CSV' %}
          </a>
        {% endif %}
        {% for unit in curriculum.units %}
        <div class="together">
            <h2><a href="{{ unit.get_absolute_url }}">Unit {{ unit.number }}: {{ unit.title }}</a></h2>
            {% for lesson in unit.lessons %}
                <h3><a href="{{ lesson.get_absolute_url }}">Lesson {{ lesson.number }}: {{ lesson }}</a></h3>

                {% if lesson.standards.count > 0 %}
                <div class="standards">
                    <h4>{% trans 'Standards Alignment' %}</h4>
                    {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
                </div>
                {% endif %}

                {% if lesson.opportunity_standards.count > 0 %}
                <div class="standards">
                    <h4>{% trans 'Cross-curricular Opportunities' %}</h4>
                    {% include "standards/partials/standard_list.html" with standards=lesson.opportunity_standards.all %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#expand-all").click(function () {
                $("details").each(function() {
                    this.open = true;
                });
            });
            $("#collapse-all").click(function () {
                $("details").each(function() {
                    this.open = false;
                });
            });
        });
    </script>
{% endblock %}
