{% extends "basestandards.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }} {% trans "Standards Alignment" %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.1.5/css/tabulator.min.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.1.5/js/tabulator.min.js"></script>
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
    <span class="disclaimer">{% trans "Standards Alignment" %}</span>
{% endblock %}

{% block resources_nav %}
    {% if unit %}
    <ul class="breadcrumb">
        <li><a href={% url 'curriculum:curriculum_view' curriculum.slug %}>< {{ curriculum }}</a></li>
        <li><a href={% url 'curriculum:unit_view' curriculum.slug unit.slug %}>{{ unit }}</a></li>
    </ul>
        {% include "curricula/partials/unit_pills.html" with unit=unit %}
    {% else %}
    <ul class="breadcrumb">
        <li><a href={% url 'curriculum:curriculum_view' curriculum.slug %}>< {{ curriculum }}</a></li>
    </ul>
        {% include "curricula/partials/curriculum_pills.html" with curriculum=curriculum %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="together standards-map row">
        <div id="standards-table" style="margin: 20px 0"></div>
    </div>
    <div class="together standards row">
    <button class="btn" id="expand-all"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Expand All</button>
    <button class="btn" id="collapse-all"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Collapse All</button>
    {% if unit %}{# If unit is passed, just grab that unit #}
        <div class="together">
            <h2><a href="{{ unit.get_absolute_url }}">{{ unit.long_name }}</a></h2>

            {% for lesson in unit.lessons %}
                <h3><a href="{{ lesson.get_absolute_url }}">Lesson {{ lesson.number }}: {{ lesson }}</a></h3>

                {% if lesson.standards.count > 0 %}
                <div class="standards">
                    <h4>{% trans "Standards Alignment" %}</h4>
                    {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
                </div>
                {% endif %}

                {% if lesson.opportunity_standards.count > 0 %}
                <div class="standards">
                    <h4>{% trans 'Cross-curricular Opportunities' %}</h4>
                    {% include "standards/partials/standard_list.html" with standards=lesson.opportunity_standards.all %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% for unit in curriculum.units %}
        <div class="together">
            <h2><a href="{{ unit.get_absolute_url }}">Unit {{ unit.number }}: {{ unit.title }}</a></h2>

            {% for lesson in unit.lessons %}
                <h3><a href="{{ lesson.get_absolute_url }}">
                Lesson {{ lesson.number }}: {{ lesson }}</a></h3>
                {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#expand-all").click(function () {
                $("details").each(function() {
                    this.open = true;
                });
            });
            $("#collapse-all").click(function () {
                $("details").each(function() {
                    this.open = false;
                });
            });
        });

        function heatCell (cell, formatterParams) {
            var standards = JSON.parse(cell.getValue());
            var total = cell.getColumn().getDefinition().total;
            var percent = standards.length / total;
            if (percent > 0) {
                percent = percent * 0.8 + 0.2;
            }
            cell.getElement().css({"background-color": "rgba(0, 173, 188," + percent + ")"});
            return "";
        }

        $("#standards-table").tabulator({
            /*
            groupBy:function(data){
                //data - the data object for the row being grouped

                return "U" + data.unit + "L" + data.lesson; //groups by data and age
            },
            */
            tooltips: function(cell){
                //cell - cell component

                //function should return a string for the tooltip of false to hide the tooltip
                var content;
                try {
                    content = JSON.parse(cell.getValue());
                    content = content.join('\n');
                    return content;
                } catch (e) {
                    content = cell.getValue();
                    return content;
                }
            },
            groupStartOpen: true,
            groupHeader: function(value, count, data){
                //value - the value all members of this group share
                //count - the number of rows in this group
                //data - an array of all the row data objects in this group

                return value + "<span style='color:#d00; margin-left:10px;'>(" + count + " item)</span>";
            },
            resizableColumns: false,
            columns: {{ standards_cols | safe }}
        });
        //define some sample data
        var tabledata = {{ standards_rows | safe }};

        //load sample data into the table
        $("#standards-table").tabulator("setData", tabledata);
    </script>
{% endblock %}
