{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }} Standards Alignment{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
    <span class="disclaimer">Standards Alignment</span>
{% endblock %}

{% block main %}
    {% if unit %}{# If unit is passed, just grab that unit #}
        <div class="together">
            <h1><a href="{{ unit.get_absolute_url }}">Unit {{ unit.number }}: {{ unit.title }}</a></h1>

            {% for lesson in unit.lessons %}
                <h2><a href="{{ lesson.get_absolute_url }}">
                Lesson {{ lesson.number }}: {{ lesson }}</a></h2>
                {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
            {% endfor %}
        </div>
    {% else %}
        {% for unit in curriculum.units %}
        <div class="together">
            <h1><a href="{{ unit.get_absolute_url }}">Unit {{ unit.number }}: {{ unit.title }}</a></h1>

            {% for lesson in unit.lessons %}
                <h2><a href="{{ lesson.get_absolute_url }}">
                Lesson {{ lesson.number }}: {{ lesson }}</a></h2>
                {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}
