{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}
{% load i18n %}

{% block meta_title %}{{ framework.name }} {% trans "Standards Alignment" %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ framework.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {{ framework.name }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
{% endblock %}

{% block header_title %}
    <h1>{{ framework.name }}</h1>
{% endblock %}

{% block main %}
    {% for top in top_categories.all %}
    <div class="together row">
        <h2>{{ top.shortcode }} - {{ top.name }}</h2>
        {% if top.children.count > 0 %}
            {% for child in top.children.all %}
                <h3>{{ child.shortcode }} - {{ child.name }}</h3>
                {% if child.children.count > 0 %}
                    {% for child2 in child.children.all %}
                        <h4>{{ child2.shortcode }} - {{ child2.name }}</h4>
                        <ul>
                        {% for standard in child2.standards.all %}
                            <li><strong><a href="{% url 'standards:single_standard' standard.framework.slug standard.shortcode %}">{{ standard.shortcode }}</a></strong> - {{ standard.name }}</li>
                            <ul>
                            {% for lesson in standard.lesson_set.all  %}
                                <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }} - {{ lesson.curriculum }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                {% else %}
                    <ul>
                    {% for standard in child.standards.all %}
                        <li><strong><a href="{% url 'standards:single_standard' standard.framework.slug standard.shortcode %}">{{ standard.shortcode }}</a></strong> - {{ standard.name }}</li>
                        <ul>
                        {% for lesson in standard.lesson_set.all  %}
                            <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% else %}
            <ul>
            {% for standard in top.standards.all %}
                <li><strong><a href="{% url 'standards:single_standard' standard.framework.slug standard.shortcode %}">{{ standard.shortcode }}</a></strong> - {{ standard.name }}</li>
                <ul>
                {% for lesson in standard.lesson_set.all  %}
                    <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.curriculum }} - {{ lesson.title }}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endfor %}

{% endblock %}
