{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}
{% load i18n %}

{% block meta_title %}{% trans "Standards Alignment" %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
{% endblock %}

{% block header_title %}
    <h1>{% trans "Standards Alignment" %}</h1>
{% endblock %}

{% block main %}
    <h2>By Standards Framework</h2>
    {% for framework in frameworks.all %}
    <div class="together">
        <h3><a href="{% url 'standards:by_framework' framework.slug %}">{{ framework.name }}</a></h3>
    </div>
    {% endfor %}

    <h2>By Curriculum</h2>
    {% for curriculum in curricula.all %}
    <div class="together">
        <h3><a href="{% url 'standards:by_curriculum' curriculum.slug %}">{{ curriculum.title }}</a></h3>
    </div>
    {% endfor %}

{% endblock %}
