{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load static %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }} | {{ unit.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for chapter as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ chapter.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block lessonnumber %}
    <div class="unitnumber"><a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}"><span class="h2">Unit</span><span class="h1">{{ unit.number }}</span></a></div>

    <div class="lessons">
    {% if chapter %}
        {% for chap in unit.chapters %}
            <div class="lesson chapter">
                Ch. {{ chap.number }}
            </div>
            {% for stage in chap.lessons %}
                {% if chap.number < chapter.number %}
                    <div class="lesson finished">
                {% else %}
                    <div class="lesson unfinished">
                {% endif %}
            <a href="{% url 'curriculum:lesson_view' curriculum.slug unit.slug stage.number %}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
                {{ stage.number }}
            </a>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for stage in unit.lessons %}
            {% if stage.number < lesson.number %}
                <div class="lesson finished">
            {% elif stage.number == lesson.number %}
                <div class="lesson current">
            {% else %}
                <div class="lesson unfinished">
            {% endif %}
        <a href="{% url 'curriculum:lesson_view' curriculum.slug unit.slug stage.number %}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
            {{ stage.number }}
        </a>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block header_title %}
{% endblock %}

{% block main %}
    <div class="together" id="unit{{ unit.number }}chapter{{ chapter.number }}">
        <h1><a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}">Unit {{ unit.number }} - {{ unit.title }}</a></h1>
        <div class="chapter_overviews">
            <div class="chapter">
            <h1>Chapter {{ chapter.number }}: {{ chapter.title }}</h1>

            {% if chapter.questions %}
                <div class="big_questions">
                <h3>Big Questions</h3>
                {{ chapter.questions|richtext_filters|safe }}
            </div>
            {% endif %}

            {% if chapter.understandings.count > 0 %}
                <div class="enduring_understandings">
                <h3>Enduring Understandings</h3>
                    <ul>
                        {% for understanding in chapter.understandings.all %}
                            <li>{{ understanding.shortcode }} {{ understanding.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% regroup chapter.lessons by duration as lessons_by_week %}

                {% for week in lessons_by_week %}
                    {% if week.grouper != None %}<h2>Week {{ week.grouper }}</h2>{% endif %}
                    {% for lesson in week.list %}
                        <div class="lesson_overview">
                            <h3><a href="{% url 'curriculum:lesson_view' curriculum.slug unit.slug lesson.number %}">Lesson {{ lesson.number }}: {{ lesson.title }}</a></h3>
                            <h4>
                            {% keywords_for lesson as keywords %}
                            {% for keyword in keywords %}
                                {% if not forloop.first %}, {% endif %}
                                {{ keyword }}
                            {% endfor %}
                            </h4>
                            {% if lesson.image %}<img src="{% get_media_prefix %}{{ lesson.image}}">{% endif %}
                            <span class="lesson_desc">{{ lesson.description }}</span>
                        </div>
                        {% if lesson.optional_lessons.count > 0 %}
                            {% for optional in lesson.optional_lessons %}
                                <div class="lesson_overview optional">
                                    <h3><a href="{% url 'curriculum:lesson_optional' curriculum.slug unit.slug lesson.number optional.number %}">Optional Lesson: {{ optional.title }}</a></h3>
                                    <h4>
                                    {% keywords_for optional as keywords %}
                                    {% for keyword in keywords %}
                                        {% if not forloop.first %}, {% endif %}
                                        {{ keyword }}
                                    {% endfor %}
                                    </h4>
                                    {% if optional.image %}<img src="{% get_media_prefix %}{{ optional.image}}">{% endif %}
                                    <span class="lesson_desc">{{ optional.description }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}

                    {% endfor %}
                {% endfor %}

            <h1>Commentary</h1>

            {% editable chapter.content %}
            {{ chapter.content|richtext_filters|safe }}
            {% endeditable %}
        </div>
    </div>


{% endblock %}
