{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }} | {{ unit.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for chapter as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ chapter.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block lessonnumber %}
    <div class="unitnumber"><span class="h2">Unit</span><span class="h1">{{ unit.number }}</span></div>

    <div class="lessons">
    {% if chapter %}
        {% for chap in unit.chapters %}
            <div class="lesson chapter">
                <a href="{{ unit.get_absolute_url }}ch{{ chap.number }}" data-pdf-link="#unit{{ unit.number }}chapter{{ chap.number }}">
                Ch. {{ chap.number }}
            </a>
            </div>
            {% for stage in chap.lessons %}
                {% if chap.number < chapter.number %}
                    <div class="lesson finished">
                {% else %}
                    <div class="lesson unfinished">
                {% endif %}
            <a href="{{ unit.get_absolute_url }}{{ stage.number }}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
                {{ stage.number }}
            </a>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for stage in unit.lessons %}
            {% if stage.number < lesson.number %}
                <div class="lesson finished">
            {% elif stage.number == lesson.number %}
                <div class="lesson current">
            {% else %}
                <div class="lesson unfinished">
            {% endif %}
        <a href="{{ unit.get_absolute_url }}{{ stage.number }}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
            {{ stage.number }}
        </a>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block header_title %}
{% endblock %}

{% block main %}
    <div class="together" id="unit{{ unit.number }}chapter{{ chapter.number }}">
    <h1>{{ unit.title }}: {{ chapter.title }}</h1>
    {% editable chapter.content %}
    {{ chapter.content|richtext_filters|safe }}
    {% endeditable %}
        <ul>
        {% for lesson in chapter.lessons %}
            <li><a href="{{ lesson.get_absolute_url }}" data-pdf-link="#unit{{ unit.number }}lesson{{ lesson.number }}">{{ lesson }}</a></li>
        {% endfor %}
        </ul>
    </div>


{% endblock %}
