{% extends "basecurriculum.html" %}

{% load staticfiles mezzanine_tags keyword_tags comment_tags i18n no_autoplay %}

{% block meta_title %}{{ lesson.meta_title }}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ lesson.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable lesson.title %}{{ title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/bootstrap-drawer.min.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/drawer.min.js" %}"></script>
    <script src="{% static "js/toc.js" %}"></script>
    <script src="{% static "js/jquery.details.min.js" %}"></script>
    <script type="text/javascript">
    </script>

    {% if user.is_staff %}
        <script src="http://assets.annotateit.org/annotator/v1.2.10/annotator-full.min.js"></script>
        <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.10/annotator.min.css">
        <script src="{% static "js/jquery.slimscroll.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.8/tinymce.min.js"></script>
        <script src="{% static "js/richText-annotator.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/richText-annotator.css" %}">

        <script>
            jQuery(function ($) {
                var annotator = $('body').annotator()
                        .annotator('addPlugin', 'Store', {
                            prefix: '/api/v1/comments',
                            annotationData: {
                                'lesson': {{ lesson.pk }},
                                'uri': '{{ request.path|urlencode }}'
                            },
                            loadFromSearch: {
                                'lesson': {{ lesson.pk }}
                            }
                        })
                        .annotator('addPlugin', 'Permissions', {
                            user: '{{ user.username }}',
                            showViewPermissionsCheckbox: true,
                            showEditPermissionsCheckbox: false
                        })
                        .annotator('addPlugin', 'RichText', {
                            tinymce: {
                                selector: "li.annotator-item textarea",
                                plugins: "media image insertdatetime link code",
                                menubar: false,
                                toolbar_items_size: 'small',
                                extended_valid_elements: "iframe[src|frameborder|style|scrolling|class|width|height|name|align|id]",
                                toolbar: "bold italic | bullist numlist outdent indent ",
                            }
                        });
            });
        </script>
    {% endif %}

{% endblock %}

{% block admin_link %}
    <div id="admin_edit" class="drawer drawer-right dw-xs-9 dw-sm-5 dw-md-3 fold" aria-labelledby="admin_edit">
        <div class="drawer-controls">
            <a href="#admin_edit" data-toggle="drawer" aria-foldedopen="false" aria-controls="admin_edit"
               class="btn btn-default btn-md"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i></a>
        </div>
        <div class="drawer-contents">
            <div class="drawer-heading">
                <h2 class="drawer-title">Settings</h2>
            </div>
            <div class="drawer-body">
                <div class="checkbox settings">
                    <label>
                        <input type="checkbox" name="say">
                        Show "Say" Prompts
                    </label>
                </div>
                <div class="checkbox settings">
                    <label>
                        <input type="checkbox" name="tip">
                        Show Teaching Tips
                    </label>
                </div>
                <div class="checkbox settings">
                    <label>
                        <input type="checkbox" name="discussion">
                        Show Discussion Goals
                    </label>
                </div>
                <div class="checkbox settings">
                    <label>
                        <input type="checkbox" name="content">
                        Show Content Corners
                    </label>
                </div>
            </div>
            {% if user.is_staff %}
                <div class="drawer-body">
                    <h2>Publishing</h2>
                    {% if lesson.jackfrost_can_build %}
                        <button class="btn btn-primary" id="publish_this" data-pk="{{ lesson.pk }}" data-type="Lesson">
                            Publish
                        </button><i id="progress_spinner"></i>
                        <pre id="publish_results"></pre>
                    {% else %}
                        <em>Can't publish, check settings in admin</em>
                    {% endif %}
                    <h2>Code Studio</h2>
                    <button class="btn btn-primary" id="get_stage_details" data-pk="{{ lesson.pk }}" data-type="Lesson">
                        Get Code Studio Stage Deatils
                    </button>
                    <i id="stage_progress_spinner"></i>
                    <pre id="stage_details_results"></pre>
                    <h2>Resources</h2>
                    <ul>
                        {% for resource in lesson.resources.all %}
                            <li>{{ resource }}</li>
                            <kbd draggable="true"
                                 ondragstart="event.dataTransfer.setData('text/plain', '{{ resource.md_tag }}')">{{ resource.md_tag }}</kbd>
                        {% endfor %}
                    </ul>
                    <h2>Vocab</h2>
                    {% for vocab in lesson.vocab.all %}
                        <li>{{ vocab.word }}</li>
                        <kbd draggable="true"
                             ondragstart="event.dataTransfer.setData('text/plain', '[v {{ vocab.word }}]')">[v {{ vocab.word }}]</kbd>
                    {% endfor %}
                </div>
            {% endif %}
            <ul class="drawer-nav">
            </ul>
        </div>
    </div>

{% endblock %}

{% block lessonnumber %}
    <div class="unitnumber"><a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}"><span
            class="h2">Unit</span><span class="h1">{{ unit.number }}</span></a></div>

    {% with lesson=parent|default_if_none:lesson %}
        <div class="lessons">
        {% if chapter %}
            {% for chap in unit.chapters %}
                <div class="lesson chapter">
                    Ch. {{ chap.number }}
                </div>
                {% for stage in chap.lessons %}
                    {% if stage.number < lesson.number %}
                        <div class="lesson finished">
                    {% elif stage.number == lesson.number %}
                        {% if optional %}
                            <div class="lesson finished">
                        {% else %}
                            <div class="lesson current">
                        {% endif %}
                    {% else %}
                        <div class="lesson unfinished">
                    {% endif %}
                <a href="{% url 'curriculum:lesson_view' curriculum.slug unit.slug stage.number %}"
                   data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
                    {{ stage.number }}
                </a>
                </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for stage in unit.lessons %}
                {% if stage.number < lesson.number %}
                    <div class="lesson finished">
                {% elif stage.number == lesson.number %}
                    {% if optional %}
                        <div class="lesson finished">
                    {% else %}
                        <div class="lesson current">
                    {% endif %}
                {% else %}
                    <div class="lesson unfinished">
                {% endif %}
            <a href="{% url 'curriculum:lesson_view' curriculum.slug unit.slug stage.number %}"
               data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
                {{ stage.number }}
            </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endwith %}

{% endblock %}

{% block header_title %}
{% endblock %}

{% block main %}
    <div class="together" id="unit{{ unit.number }}lesson{{ lesson.number }}">
        {% editable lesson.title %}
            {% if optional %}
                <h1>Optional Lesson: {{ lesson.title }}</h1>
            {% else %}
                <h1>Lesson {{ lesson.number }}: {{ lesson.title }}</h1>
            {% endif %}
        {% endeditable %}

        <div class="keywords">
            <h4>
                {% for keyword in lesson.keywords.all %}
                    {% if not forloop.first %}| {% endif %}
                    {{ keyword }}
                {% endfor %}
        </div>
    </div>

    <div class="together overview-page row">

        <div class="col-sm-7 left-col">
            <h2>Overview</h2>
            {% editable lesson.overview %}
                {{ lesson.overview|richtext_filters|safe }}
            {% endeditable %}

            {% if lesson.cs_content %}
                <h2>Purpose</h2>
                {% editable lesson.cs_content %}
                    {{ lesson.cs_content|richtext_filters|safe }}
                {% endeditable %}
            {% endif %}

            <h2>Agenda</h2>
            <div class="toc" id="toc{{ lesson|slugify }}">
                {% for activity in lesson.activity_set.all %}
                    <h3>{{ activity }}</h3>
                {% endfor %}
            </div>

        </div>

        <div class="col-sm-5 right-col">

            {% if lesson.anchor_standards.all.count > 0 %}
                <h2>Anchor Standard{% if lesson.anchor_standards.all.count > 1 %}s{% endif %}</h2>
                {% with lesson.anchor_standards.all as standards %}
                    {% regroup standards by framework as standards_by_framework %}
                    {% for framework in standards_by_framework %}
                        <h3>{{ framework.grouper }}</h3>
                        <ul>
                            {% for standard in framework.list %}
                                <li><strong>{{ standard.shortcode }}</strong> - {{ standard.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endwith %}
            {% endif %}

            {% if lesson.objective_set.count > 0 %}
                <h2>Objectives</h2>
                <h3>Students will be able to:</h3>
                <ul>
                    {% for objective in lesson.objective_set.all %}
                        <li>{% editable objective.name %}{{ objective.name }}{% endeditable %}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if curriculum.auto_forum %}
                <h2><a href="{{ lesson.forum_link }}" target="_blank">Lesson Forum</a></h2>
            {% endif %}
            {% if lesson.prep %}
                <h2>Preparation</h2>
                <div class="prep">
                    {% editable lesson.prep %}
                        {{ lesson.prep|richtext_filters|safe }}
                    {% endeditable %}
                </div>
            {% endif %}

            {% if lesson.resources.count > 0 %}
                <h2>Links</h2>
                {% with lesson.resources.all as resources %}
                    {% regroup resources|dictsort:"student" by student as resources_by_audience %}
                    {% for audience in resources_by_audience %}
                        <h3>For the {{ audience.grouper|yesno:"Students,Teacher" }}</h3>
                        <ul>
                            {% for resource in audience.list %}
                                <li>
                                {% editable resource.name resource.type resource.url %}
                                    {{ resource.formatted|safe }}
                                {% endeditable %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endwith %}
            {% endif %}
            {% if user.is_staff %}<a href="/admin/lessons/lesson_resources/add/?lesson={{ lesson.pk }}" target="_blank">Add a resource</a>{% endif %}

            {% if lesson.vocab.count > 0 %}
                <h2>Vocabulary</h2>
                <ul>
                    {% for word in lesson.vocab.all %}
                        <li><strong>{{ word.word }}</strong> - {{ word.detailDef }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if lesson.blocks.count > 0 %}
                <h2>Introduced Code</h2>
                <ul>
                    {% for block in lesson.blocks.all %}
                        <li><a href="{{ block.get_absolute_url }}"><code>{{ block.code }}</code></a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if curriculum.display_questions %}
                <div class="open_questions no_print">
                    <h2>Open Questions</h2>
                    {% if lesson.questions %}
                        {% editable lesson.questions %}
                            {{ lesson.questions|richtext_filters|safe }}
                        {% endeditable %}
                    {% else %}
                        {% editable lesson.questions %}
                            <p><em>No specific questions for this lesson, but we'd still love to get your feedback.</em>
                            </p>
                        {% endeditable %}
                    {% endif %}
                    {% if curriculum.feedback_url %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal">
                            Give us feedback!
                        </button>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </div>

    <div id="{{ lesson.title|slugify }}content">

        <h1>Teaching Guide</h1>

        {% for activity in lesson.activity_set.all %}
            <div class="activity">
                {% editable activity.name activity.time activity.content %}
                    <h2>{{ activity.name }}{% if activity.time %} ({{ activity.time }}){% endif %}</h2>
                    {{ activity.content|richtext_filters|safe }}
                {% endeditable %}
            </div>
        {% endfor %}

    </div>

    <div id="{{ unit.slug }}-stage-{{ lesson.number }}" class="stage_guide_hidden">

        {% for level in lesson.stage.levels %}

            <div id="{{ unit.slug }}-stage-{{ lesson.number }}-level-{{ level.position }}"
                 class="stage-level named-{{ level.named_level }} type-{{ level.type }} teacher-markdown-{% if level.teacher_markdown %}true{% else %}false{% endif %}"
                 data-level="{{ level.position }}">
                <a href="https://studio.code.org{{ level.path }}" target="_blank" class="level-link">
                    <span class="level-icon"></span>
                    {% if level.named_level %}{{ level.name }}{% else %}{{ level.position }}{% endif %}
                </a>

                {% if level.video_youtube %}
                    <br/>
                    <iframe width="210" height="107"
                            src="{{ level.video_youtube|no_autoplay }} %}">
                    </iframe>
                {% endif %}

                {% if level.teacher_markdown %}
                    <div class="teacher-markdown">{{ level.teacher_markdown|richtext_filters|safe }}</div>
                {% endif %}

                {% if level.markdown or level.markdown_instructions %}
                    <details class="instructions-markdown">
                        <summary>{% if level.teacher_markdown %}Student Facing Instructions{% endif %}</summary>
                        {{ level.markdown|richtext_filters|safe }}
                        {{ level.markdown_instructions|richtext_filters|safe }}
                    </details>
                {% endif %}

            </div>

        {% endfor %}

    </div>

    <div class="standards">
        <h2>Standards Alignment</h2>
        <h4><a href="/{{ curriculum.slug }}/standards/">View full course alignment</a></h4>
        {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
    </div>


    {% if user.is_staff %}
        {% comments_for lesson %}
    {% endif %}

    {% if curriculum.feedback_url %}
        <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="feedbackTitle">Lesson Feedback</h4>
                        <p><a href="{{ lesson.zendesk_link|safe }}" target="_blank">Got a bug to report?</a></p>
                    </div>
                    <div class="modal-body">
                        <iframe id="feedbackFrame" width="568" height="1800" frameborder="0" marginheight="0"
                                marginwidth="0">
                            <i class='fa fa-cog fa-spin' style="font-size: 100px; text-align: center"></i>
                        </iframe>
                    </div>
                    <div class="modal-footer" style="text-align: left">
                        <button type="button" class="btn btn-default" style="float:right" data-dismiss="modal">Close
                        </button>
                        {% if lesson.questions %}
                            <h4>Open Questions</h4>
                            {{ lesson.questions|richtext_filters|safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block footer_js %}

    {% if user.is_staff %}
        <script src="{% static "js/lesson_admin.js" %}"></script>
    {% endif %}

    <script src="{% static "js/lesson.js" %}"></script>

    <script defer type="text/javascript">
        $(window).on('load', function () {
            $('#toc{{ lesson.title|slugify }}').toc({
                'selectors': 'h2,h3', //elements to use as headings
                'container': '#{{ lesson.title|slugify }}content', //element to find all selectors in
                'exclude': '.instructions-markdown h2, .instructions-markdown h3', //selectors to exlude
                'smoothScrolling': false, //enable or disable smooth scrolling on click
                'prefix': '{{ lesson.title|slugify }}', //prefix for anchor tags and class names
                'onHighlight': function (el) {
                }, //called when a new section is highlighted
                'highlightOnScroll': true, //add class to heading that is currently in focus
                'highlightOffset': 100, //offset to trigger the next headline
                'anchorName': function (i, heading, prefix) { //custom function for anchor name
                    return prefix + i;
                },
                'headerText': function (i, heading, $heading) { //custom function building the header-item text
                    return $heading.text();
                },
                'itemClass': function (i, heading, $heading, prefix) { // custom function for item class
                    return $heading[0].tagName.toLowerCase();
                }
            });
        });
    </script>

{% endblock %}
