{% extends "basecurriculum.html" %}

{% load staticfiles mezzanine_tags keyword_tags comment_tags i18n with_unit %}

{% block meta_title %}{{ lesson.meta_title }}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ lesson.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable lesson.title %}{{ title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/bootstrap-drawer.min.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/drawer.min.js" %}"></script>
    <script src="{% static "js/toc.js" %}"></script>
    <script src="{% static "js/jquery.details.min.js" %}"></script>
    <script type="text/javascript">
    </script>

    {% if user.is_staff %}
        <script src="{% static "js/annotator-full.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/annotator.min.css" %}">
        <script src="{% static "js/jquery.slimscroll.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.8/tinymce.min.js"></script>
        <script src="{% static "js/richText-annotator.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/richText-annotator.css" %}">

        {% comment "Removing for now as we don't really use internal annotation. TODO fully strip this feature out" %}
        <script>
            jQuery(function ($) {
                var annotator = $('body').annotator()
                        .annotator('addPlugin', 'Store', {
                            prefix: '/api/v1/comments',
                            annotationData: {
                                'lesson': {{ lesson.pk }},
                                'uri': '{{ request.path|urlencode }}'
                            },
                            loadFromSearch: {
                                'lesson': {{ lesson.pk }}
                            }
                        })
                        .annotator('addPlugin', 'Permissions', {
                            user: '{{ user.username }}',
                            showViewPermissionsCheckbox: true,
                            showEditPermissionsCheckbox: true
                        })
                        .annotator('addPlugin', 'RichText', {
                            tinymce: {
                                selector: "li.annotator-item textarea",
                                plugins: "media image insertdatetime link code",
                                menubar: false,
                                toolbar_items_size: 'small',
                                extended_valid_elements: "iframe[src|frameborder|style|scrolling|class|width|height|name|align|id]",
                                toolbar: "bold italic | bullist numlist outdent indent ",
                            }
                        });
            });
        </script>
        {% endcomment %}
    {% endif %}

{% endblock %}


<!-- Admin Toolbox -->
{% block admin_link %}
{% if user.is_staff %}
    {% include "curricula/partials/admin_menu.html" with page=lesson pagetype="Lesson" can_administer=can_administer %}
{% endif %}
{% endblock %}

<!-- Header Bubbles -->

{% block lessonnumber %}
    <div class="unitnumber">
        <a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}">{{ unit.header_corner|safe }}</a>
    </div>

    {% with lesson=parent|default_if_none:lesson %}
        {% include "curricula/partials/bubbles_header.html" with unit=unit lesson=lesson %}
    {% endwith %}

{% endblock %}

{% block header_title %}
{% endblock %}

<!-- Nav Pills -->

{% block resources_nav %}
    <ul class="breadcrumb">
        <li><a href={% url 'curriculum:curriculum_view' curriculum.slug %}>< {{ curriculum }}</a></li>
        <li><a href={% url 'curriculum:unit_view' curriculum.slug unit.slug %}>{{ unit }}</a></li>
    </ul>
    {% include "curricula/partials/lesson_pills.html" with unit=unit changelog=changelog %}
{% endblock %}

{% block main %}

{% include "curricula/partials/lesson_front.html" with unit=unit lesson=lesson %}


<!-- Lesson Content -->

<div id="{{ lesson.title|slugify }}content">

    <h1>{% trans 'Teaching Guide' %}</h1>

    {% for activity in lesson.activity_set.all %}
        <div class="activity">
            {% editable activity.name activity.time activity.content %}
                <h2>{{ activity.name }}{% if activity.time %} ({{ activity.time }}){% endif %}</h2>
                {{ activity.content|with_unit:unit|richtext_filters|safe }}
            {% endeditable %}
        </div>
    {% endfor %}

</div>

<!-- Code Studio Levels -->

{% include "curricula/partials/code_studio.html" with unit=unit lesson=lesson %}

<!-- Standards Alignment -->

{% if lesson.standards.count > 0 %}
<div class="standards">
    <h2>{% trans "Standards Alignment" %}</h2>
    <h4><a href="{{ curriculum.get_standards_url }}">{% trans "View full course alignment" %}</a></h4>
    {% include "standards/partials/standard_list.html" with standards=lesson.standards.all %}
</div>
{% endif %}

{% if lesson.opportunity_standards.count > 0 %}
<div class="standards">
    <h2>{% trans "Cross-curricular Opportunities" %}</h2>
    <p>{% trans "This list represents opportunities in this lesson to support standards in other content areas." %}</p>
    {% include "standards/partials/standard_list.html" with standards=lesson.opportunity_standards.all %}
</div>
{% endif %}

<!-- Feedback Modal -->

{% if curriculum.feedback_url %}
    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="feedbackTitle">Lesson Feedback</h4>
                </div>
                <div class="modal-body">
                    <iframe id="feedbackFrame" width="568" height="1800" frameborder="0" marginheight="0"
                            marginwidth="0">
                        <i class='fa fa-cog fa-spin' style="font-size: 100px; text-align: center"></i>
                    </iframe>
                </div>
                <div class="modal-footer" style="text-align: left">
                    <button type="button" class="btn btn-default" style="float:right" data-dismiss="modal">Close
                    </button>
                    {% if lesson.questions %}
                        <h4>Open Questions</h4>
                        {{ lesson.questions|richtext_filters|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        var lesson_title = "{{ lesson.title|slugify }}";

        // Feedback Modal
        var isFeedbackActive = false;

        $('#feedbackFrame').load(function () {
            if ($(this).attr('src')) {
                isFeedbackActive = !isFeedbackActive;
                if (!isFeedbackActive) {
                    $('#feedbackModal').modal('toggle');
                }
            }
        });


        $('#feedbackModal').on('shown.bs.modal', function () {
            if (!isFeedbackActive) {
                $(this).find('iframe').attr('src', "{{ lesson.feedback_link|safe }}&embedded=true");
            }
        });
    </script>

    {% if user.is_staff %}
    <script src="{% static "js/admin_menu.js" %}"></script>
    {% endif %}

    <script src="{% static "js/lesson.js" %}"></script>

{% endblock %}
