{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ lesson.meta_title }}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ lesson.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable lesson.title %}{{ title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/commonlesson.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/toc.js" %}"></script>
    <script src="{% static "js/jquery.details.min.js" %}"></script>
{% endblock %}

{% block admin_link %}
    {% if user.is_staff %}
        <div id="admin_edit"><a href="{% url 'admin:lessons_lesson_change' lesson.pk %}">Edit lesson in admin</a></div>
    {% endif %}
{% endblock %}

{% block lessonnumber %}
    <div class="unitnumber"><span class="h2">Unit</span><span class="h1">{{ unit.number }}</span></div>

    <div class="lessons">
    {% for stage in unit.lessons %}
        {% if stage.number < lesson.number %}
            <div class="lesson finished">
        {% elif stage.number == lesson.number %}
            <div class="lesson current">
        {% else %}
            <div class="lesson unfinished">
        {% endif %}
    <a href="{{ unit.get_absolute_url }}{{ stage.number }}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
        {{ stage.number }}
    </a>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block header_title %}
{% endblock %}

{% block main %}

    <div class="together" id="unit{{ unit.number }}lesson{{ lesson.number }}">
        {% editable lesson.title %}
            <h1>Lesson {{ lesson.number }}: {{ lesson.title }}</h1>
        {% endeditable %}
    </div>

    <div class="together overview-page row">

        <div class="col-sm-8 left-col">

            <h2>Overview</h2>
            {% editable lesson.overview %}
                {{ lesson.overview|richtext_filters|safe }}
            {% endeditable %}

            <h2>Lesson Summary</h2>
            <div class="toc" id="toc{{ lesson|slugify }}">
                {% for activity in lesson.activity_set.all %}
                    <h3>{{ activity.name }}</h3>
                {% endfor %}
            </div>

            {% if lesson.cs_content %}
                <h2>CS Content</h2>
                {% editable lesson.cs_content %}
                    {{ lesson.cs_content|richtext_filters|safe }}
                {% endeditable %}
            {% endif %}

        </div>

        <div class="col-sm-4 right-col">

            {% if lesson.anchor_standards.all.count > 0  %}
                <h2>Anchor Standard{% if lesson.anchor_standards.all.count > 1 %}s{% endif %}</h2>
                {% with lesson.anchor_standards.all as standards %}
                    {% regroup standards by framework as standards_by_framework %}
                    {% for framework in standards_by_framework %}
                        <h3>{{ framework.grouper }}</h3>
                        <ul>
                            {% for standard in framework.list %}
                                <li><strong>{{ standard.shortcode }}</strong> - {{ standard.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endwith %}
            {% endif %}

            {% if lesson.objective_set.count > 0 %}
                <h2>Objectives</h2>
                <h3>Students will be able to:</h3>
                <ul>
                    {% for objective in lesson.objective_set.all %}
                        <li>{{ objective.description }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if lesson.prep %}
                <h2>Materials and Prep</h2>
                {% editable lesson.prep %}
                    {{ lesson.prep|richtext_filters|safe }}
                {% endeditable %}
            {% endif %}

            {% if lesson.resources.count > 0 %}
                <h2>Resources</h2>
                {% with lesson.resources.all as resources %}
                    {% regroup resources|dictsort:"student" by student as resources_by_audience %}
                    {% for audience in resources_by_audience %}
                        <h3>For the {{ audience.grouper|yesno:"Students,Teacher" }}</h3>
                        <ul>
                            {% for resource in audience.list %}
                                <li>
                                    {{ resource|safe }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endwith %}
            {% endif %}

            {% if lesson.vocab.count > 0 %}
                <h2>Vocabulary</h2>
                <ul>
                    {% for word in lesson.vocab.all %}
                        <li><strong>{{ word.word }}</strong> - {{ word.detailDef }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

    <div id="{{ lesson.title|slugify }}content">

        <h1>Teaching Guide</h1>

        {% for activity in lesson.activity_set.all %}
            <div class="activity">
                {% editable activity.name activity.content %}
                    <h2>{{ activity.name }}</h2>
                    {{ activity.content|richtext_filters|safe }}
                {% endeditable %}
            </div>
        {% endfor %}
    </div>

    <div class="standards">
        <h2>Standards Alignment</h2>
        {% with lesson.standards.all as standards %}
            {% regroup standards by framework as standards_by_framework %}
            {% for framework in standards_by_framework %}
                <div class="framework">
                    <h3>{{ framework.grouper }}</h3>
                    {% if framework.list.0.category.parent %}
                        {% regroup framework.list by category.parent as standards_by_parent_cat  %}
                        {% for parent in standards_by_parent_cat %}
                            <details class="standard">
                                <summary><strong>{{ parent.grouper.shortcode }}</strong> - {{ parent.grouper.name }}</summary>
                                {% regroup parent.list by category as standards_by_category %}
                                {% for category in standards_by_category %}
                                    <details class="standard">
                                        <summary><strong>{{ category.grouper.shortcode }}</strong> - {{ category.grouper.name }}</summary>
                                        <ul>
                                            {% for standard in category.list %}
                                                <li><strong>{{ standard.shortcode }}</strong> - {{ standard.description }}</li>
                                            {% endfor %}
                                        </ul>
                                    </details>
                                {% endfor %}
                            </details>
                        {% endfor %}
                    {% else %}
                        {% regroup framework.list by category as standards_by_category %}
                        {% for category in standards_by_category %}
                            <details class="standard">
                                <summary><strong>{{ category.grouper.shortcode }}</strong> - {{ category.grouper.name }}</summary>
                                <ul>
                                    {% for standard in category.list %}
                                        <li><strong>{{ standard.shortcode }}</strong> - {{ standard.description }}</li>
                                    {% endfor %}
                                </ul>
                            </details>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endwith %}
    </div>


    <script type="text/javascript">
        $('#toc{{ lesson.title|slugify }}').toc({
            'selectors': 'h2,h3', //elements to use as headings
            'container': '#{{ lesson.title|slugify }}content', //element to find all selectors in
            'smoothScrolling': false, //enable or disable smooth scrolling on click
            'prefix': '{{ lesson.title|slugify }}', //prefix for anchor tags and class names
            'onHighlight': function(el) {}, //called when a new section is highlighted
            'highlightOnScroll': true, //add class to heading that is currently in focus
            'highlightOffset': 100, //offset to trigger the next headline
            'anchorName': function(i, heading, prefix) { //custom function for anchor name
                return prefix+i;
            },
            'headerText': function(i, heading, $heading) { //custom function building the header-item text
                return $heading.text();
            },
            'itemClass': function(i, heading, $heading, prefix) { // custom function for item class
                return $heading[0].tagName.toLowerCase();
            }
        });
    </script>
    <!--<script type="text/javascript">
        $(function() {
            // Add conditional classname based on support
            $('html').addClass($.fn.details.support ? 'details' : 'no-details');
            // Emulate <details> where necessary and enable open/close event handlers
            $('details').details();
            // Bind some example event handlers
            $('details').on({
                'open.details': function() {
                    console.log('opened');
                },
                'close.details': function() {
                    console.log('closed');
                }
            });
        });
    </script>-->

{% endblock %}
