{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable curriculum.title %}{{ curriculum.title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
{% endblock %}

{% block main %}
    {% editable curriculum.content %}
    {{ curriculum.content|richtext_filters|safe }}
    {% endeditable %}
    {% for unit in units %}
    <div class="together">
        <h2><a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}" data-pdf-link="#unit{{ unit.number }}">{{ unit.title }}</a></h2>
        {% editable unit.content %}
        {{ unit.content|richtext_filters|safe }}
        {% endeditable %}
    </div>
    {% endfor %}

{% endblock %}
