{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable curriculum.title %}{{ curriculum.title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/bootstrap-drawer.min.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/drawer.min.js" %}"></script>
{% endblock %}

{% if user.is_staff %}
{% block admin_link %}
    <div id="admin_edit" class="drawer drawer-right dw-xs-9 dw-sm-5 dw-md-3 fold" aria-labelledby="admin_edit">
        <div class="drawer-controls">
            <a href="#admin_edit" data-toggle="drawer" aria-foldedopen="false" aria-controls="admin_edit" class="btn btn-default btn-md"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i></a>
        </div>
        <div class="drawer-contents">
            <div class="drawer-body">
                <h2>Publishing</h2>
                {% if curriculum.jackfrost_can_build %}
                    <button class="btn primary" id="publish_this" data-pk="{{ curriculum.pk }}" data-type="Curriculum">Publish</button><i id="progress_spinner"></i><br/>
                    <input type="checkbox" name="lessons" id="include_lessons"> Include Units and Lessons</input>
                    <pre id="publish_results"></pre>
                {% else %}
                    <em>Can't publish, check settings in admin</em>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% endif %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
{% endblock %}

{% block main %}
    {% editable curriculum.content %}
    {{ curriculum.content|richtext_filters|safe }}
    {% endeditable %}
    {% for unit in units %}
    <div class="together">
        <h2><a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}" data-pdf-link="#unit{{ unit.number }}">{{ unit.title }}</a></h2>
        {% editable unit.description %}
        {{ unit.description|richtext_filters|safe }}
        {% endeditable %}
    </div>
    {% endfor %}

{% endblock %}

{% block footer_js %}

{% if user.is_staff %}
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).ready(function () {
            // Publish button
            $("#publish_this").click(function () {
                $('#publish_this').text("Publishing...");
                var pk = $(this).attr('data-pk');
                var type = $(this).attr('data-type');
                var lessons = $('#include_lessons').prop('checked');
                $('#progress_spinner').addClass('fa fa-cog fa-spin');
                $.ajax({
                    type: "POST",
                    url: "/publish/",
                    data: {pk: pk, type: type, lessons: lessons},
                    timeout: 600000,
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError);
                        $("#publish_this").addClass('btn-warning').text("Failed");
                        $("#publish_results").html(JSON.stringify(thrownError, undefined, 2));
                        $('#progress_spinner').removeClass('fa fa-cog fa-spin');
                    }
                }).done(function(response) {
                    console.log(response);
                    $("#publish_this").addClass('btn-success').text("Success");
                    console.log(response);
                    $("#publish_results").text(JSON.stringify(response, undefined, 2));
                    $('#progress_spinner').removeClass('fa fa-cog fa-spin');
                }).fail(function(response) {
                    console.log(response);
                    $("#publish_this").addClass('btn-warning').text("Failed");
                    console.log(response);
                    $("#publish_results").text(JSON.stringify(response, undefined, 2));
                    $('#progress_spinner').removeClass('fa fa-cog fa-spin');
                });
            });
        });
    </script>
{% endif %}
{% endblock %}