{% extends "baselesson.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ lesson.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for lesson as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ lesson.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable lesson.title %}{{ title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/toc.min.js" %}"></script>
    <script src="{% static "js/jquery.details.min.js" %}"></script>
{% endblock %}

{% block admin_link %}
    {% if user.is_staff %}
        <div id="admin_edit"><a href="{% url 'admin:lessons_lesson_change' lesson.pk %}">Edit lesson in admin</a></div>
    {% endif %}
{% endblock %}

{% block lessonnumber %}
    <div id="lessonnumber">{{ lesson.number }}</div>
{% endblock %}

{% block header_title %}
    {% if lesson.unplugged %}UNPLUGGED{% endif %}
    {% editable lesson.title %}
    <h1>{{ lesson.title }}</h1>
    {% endeditable %}
    <hr>
    Class sessions: {{ lesson.duration }}
<span class="disclaimer">
  Basic lesson time includes activity only. Introductory and Wrap-Up suggestions can be used to delve deeper when time allows.
</span>
{% endblock %}

{% block main %}

    <div class="together">
        <h2>Lesson Overview</h2>
        {% editable lesson.overview %}
            {{ lesson.overview|richtext_filters|safe }}
        {% endeditable %}
    </div>

    {% if lesson.objective_set.count > 0 %}
        <div class="together">
            <h2>Lesson Objectives</h2>
            <h3>Students will:</h3>
            <ul>
                {% for objective in lesson.objective_set.all %}
                    <li>{{ objective.description }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if lesson.anchor_standards.all.count > 0  %}
        <h2>Anchor Standard{% if lesson.anchor_standards.all.count > 1 %}s{% endif %}</h2>
        {% with lesson.anchor_standards.all as standards %}
        {% regroup standards by framework as standards_by_framework %}
        {% for framework in standards_by_framework %}
            <h3>{{ framework.grouper }}</h3>
            <ul>
            {% for standard in framework.list %}
                <li><strong>{{ standard.shortcode }}</strong> - {{ standard.description }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
        {% endwith %}
    {% endif %}

    <div class="summary">
        <h2>Teaching Summary</h2>
        <div id="toc">
            {% for activity in lesson.activity_set.all %}
                <h3>{{ activity.name }}</h3>
            {% endfor %}
        </div>
    </div>

    <div id="lesson_content">

        <div class="together">

            <h1>Teaching Guide</h1>

            {% if lesson.prep %}
                <h2>Materials and Prep</h2>
                {% editable lesson.prep %}
                    {{ lesson.prep|richtext_filters|safe }}
                {% endeditable %}
            {% endif %}

            {% if lesson.resources.count > 0 %}
                <h2>Resources</h2>
                <ul>
                {% for resource in lesson.resources.all %}
                    <li>{{ resource.name }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if lesson.vocab.count > 0 %}
                <h2>Vocabulary</h2>
                <ul>
                {% for word in lesson.vocab.all %}
                    <li><strong>{{ word.word }}</strong> - {{ word.simpleDef }}</li>
                {% endfor %}
                </ul>
            {% endif %}

        </div>

        {% for activity in lesson.activity_set.all %}
            <div class="together">
                {% editable activity.name activity.content %}
                    <h2>{{ activity.name }}</h2>
                    {{ activity.content|richtext_filters|safe }}
                {% endeditable %}
            </div>
        {% endfor %}
    </div>

    <div id="standards">
        <h2>Standards Alignment</h2>
        {% with lesson.standards.all as standards %}
        {% regroup standards by framework as standards_by_framework %}
        {% for framework in standards_by_framework %}
            <details class="framework">
            <summary>{{ framework.grouper }}</summary>
            <!--<ul>-->
            {% for standard in framework.list %}
                <details class="standard">
                <summary>{{ standard.shortcode }}</summary>
                    <p>{{ standard.description }}</p>
                </details>
            {% endfor %}
            <!--</ul>-->
            </details>
        {% endfor %}
        {% endwith %}
    </div>
    <script type="text/javascript">
        $('#toc').toc({
            'selectors': 'h2,h3', //elements to use as headings
            'container': '#lesson_content', //element to find all selectors in
            'smoothScrolling': true, //enable or disable smooth scrolling on click
            'prefix': 'toc', //prefix for anchor tags and class names
            'onHighlight': function(el) {}, //called when a new section is highlighted
            'highlightOnScroll': true, //add class to heading that is currently in focus
            'highlightOffset': 100, //offset to trigger the next headline
            'anchorName': function(i, heading, prefix) { //custom function for anchor name
                return prefix+i;
            },
            'headerText': function(i, heading, $heading) { //custom function building the header-item text
                return $heading.text();
            },
            'itemClass': function(i, heading, $heading, prefix) { // custom function for item class
                return $heading[0].tagName.toLowerCase();
            }
        });
    </script>
    <script>
        $(function() {
            // Add conditional classname based on support
            $('html').addClass($.fn.details.support ? 'details' : 'no-details');
            // Emulate <details> where necessary and enable open/close event handlers
            $('details').details();
            // Bind some example event handlers
            $('details').on({
                'open.details': function() {
                    console.log('opened');
                },
                'close.details': function() {
                    console.log('closed');
                }
            });
        });
    </script>

{% endblock %}
