

{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load static %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block admin_link %}
{% endblock %}

{% block body_class %}embedded{% endblock %}

{% block header %}
{% endblock %}

{% block resources_nav %}
{% endblock %}

{% block main %}
<h2>Overview</h2>

{{ lesson.description|safe }}

{% if lesson.vocab.count > 0 %}
    <h2>Vocab</h2>

    <ul>
        {% for word in lesson.vocab.all %}
            <li><strong>{{ word.word }}</strong> - {{ word.detailDef|safe }}</li>
        {% endfor %}
    </ul>

{% endif %}

{% if lesson.blocks.count > 0 %}

    <h2>New Code</h2>

    <ul>
        {% for block in lesson.blocks.all %}
            <li><code class="block" style="background-color: {{ block.parent_cat.color }}">
                <a href="{{ block.get_published_url }}">{{ block.code }}</a>
            </code></li>
        {% endfor %}
    </ul>
{% endif %}

{% if lesson.resources.count > 0 %}
    <h2>Resources</h2>

    <ul>
        {% for resource in lesson.resources.all %}
            {% if resource.student %}
                <li>
                    {{ resource.formatted_md|richtext_filters|safe }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer_js %}
{% endblock %}