{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {{ curriculum.title }}{% if unit %} {{ unit.short_name }}{% endif %}: Resources
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
    {% if unit %}<h2>{{ unit.short_name }}</h2>{% endif %}
    <h3 class="disclaimer">{{ list_type }}</h3>
{% endblock %}

{% block resources_nav %}
    {% if unit %}
    <ul class="breadcrumb">
        <li><a href={% url 'curriculum:curriculum_view' curriculum.slug %}>< {{ curriculum }}</a></li>
        <li><a href={% url 'curriculum:unit_view' curriculum.slug unit.slug %}>{{ unit }}</a></li>
    </ul>
        {% include "curricula/partials/unit_pills.html" with unit=unit %}
    {% else %}
    <ul class="breadcrumb">
        <li><a href={% url 'curriculum:curriculum_view' curriculum.slug %}>< {{ curriculum }}</a></li>
    </ul>
        {% include "curricula/partials/curriculum_pills.html" with curriculum=curriculum %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="together row">
        {% if unit %}
            {% include include_template with unit=unit %}
        {% else %}
            {% for unit in curriculum.units %}
                {% include include_template with unit=unit %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
