{% extends "baselesson.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.meta_title }}{% endblock %}

{% block title %}
    {{ curriculum.title }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/csplesson.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/toc.js" %}"></script>
    <script src="{% static "js/jquery.details.min.js" %}"></script>
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
{% endblock %}

{% block main %}
{% for unit in curriculum.units %}

    <h1>{{ unit.title }}</h1>

    {% for lesson in unit.lessons %}
        {% include 'curricula/partials/detail_header.html' with lesson=lesson %}


        {% include 'curricula/partials/csp.html' with lesson=lesson %}


    {% endfor %}
{% endfor %}
{% endblock %}