{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load static %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ page.parent.title }} | {{ page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{% block admin_link %}
{% endblock %}


{% block header %}
{% endblock %}

{% block resources_nav %}
{% endblock %}

{% block main %}
    <div class="together">

        {% editable page.title page.content %}
        <h1>{{ page.title }}</h1>
        {{ page.content|richtext_filters|safe }}
        {% endeditable %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block footer_js %}
{% endblock %}