{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable curriculum.title %}{{ curriculum.title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/bootstrap-drawer.min.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/drawer.min.js" %}"></script>
{% endblock %}

{% block admin_link %}
{% if user.is_staff %}
    {% include "curricula/partials/admin_menu.html" with page=curriculum pagetype="Curriculum" %}
{% endif %}
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
{% endblock %}

{% block main %}

    <div class="together overview-page row">

        <div class="col-sm-7 left-col">

            {% editable curriculum.content %}
            {{ curriculum.content|richtext_filters|safe }}
            {% endeditable %}

        </div>

    <div class="col-sm-5 right-col">

<!-- Sidebar -->

        <h2>Agendas</h2>
        {% for unit in units %}
            <h3><a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}" data-pdf-link="#unit{{ unit.number }}">{{ unit.long_name }}</a></h3>
            <p>
            {{ unit.description|truncatechars:160 }}
            <a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}" data-pdf-link="#unit{{ unit.number }}"> more</a>
            </p>
        {% endfor %}

    </div>

</div>

    <div class="topics">
        {% if curriculum.topics.count > 0 %}
            {% for topic in curriculum.topics.all %}
                <div class="activity">
                    {% editable topic.name topic.content %}
                        <h2>{{ topic.name }}</h2>
                        {{ topic.content|richtext_filters|safe }}
                    {% endeditable %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

{% block footer_js %}

{% if user.is_staff %}
    <script src="{% static "js/admin_menu.js" %}"></script>
{% endif %}
{% endblock %}
