{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load static %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ unit.curriculum }} | {{ unit.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for unit as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ unit.description }}
{% endmetablock %}{% endblock %}

{% block extra_js %}
    <script src="{% static "js/toc.js" %}"></script>
    <script src="{% static "js/jquery.details.min.js" %}"></script>
{% endblock %}
{% block header %}

{% include "curricula/partials/pl_header.html" with unit=unit %}

{% endblock %}

{% block main %}
    <div class="together pagebreak" id="unit{{ unit.number }}">
        <h1>{{ unit.long_name }}</h1>

        {{ unit.content|richtext_filters|safe }}
    <div class="topics">
        {% if unit.topics.count > 0 %}
            {% for topic in unit.topics.all %}
                <div class="activity">
                    {% editable topic.name topic.content %}
                        <h2>{{ topic.name }}</h2>
                        {{ topic.content|richtext_filters|safe }}
                    {% endeditable %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block append_pages %}
    {% for lesson in unit.lessons %}
        <div class="pagebreak" id="U{{ unit.number }}L{{ lesson.number }}">
            {% include "curricula/partials/pl_lesson.html" with lesson=lesson unit=unit printflag="no-print" %}
        </div>
    {% endfor %}
{% endblock %}

{% block footer_js %}
<script type="text/javascript">

$(document).ready(function () {

    // Only print the current day with title
    $('.pacing-lesson.active').each(function() {
        $(this).parent().removeClass('no_print');
        $(this).parent().prev().removeClass('no_print');
    });

    // add checkboxes to lists in the prep section
    var count = 1;
    $(".prep ul li:visible").each(function (li) {
        $(this).prepend('<input type="checkbox" class="todo" name="' + (count++) + '"/>');
    });

    $(".always-on-False").tabs({
        collapsible: true,
        active: false,
        classes: { "ui-tabs-panel": "ui-corner-all"},
        /*show: { effect: "blind", duration: 500 },
        hide: { effect: "fade", duration: 500 },*/
        activate: toggleCollapse
    }).each(function() {
        $(this).children(".ui-tabs-panel").first().addClass("collapsed");
    });

    $(".always-on-True").tabs({
        collapsible: true,
        classes: { "ui-tabs-panel": "ui-corner-all" },
        /*show: { effect: "blind", duration: 500 },
        hide: { effect: "fade", duration: 500 },*/
        activate: toggleCollapse
    });

    // Strip answer key links
    $('.key').html("<p><em>View on Code Studio to access answer key(s)</em></p>")

    function toggleCollapse(event, ui) {
        if ($(ui.newPanel).length === 0) {
            $(ui.oldPanel).addClass("collapsed");
            $(ui.oldPanel).siblings().removeClass("collapsed");
        } else {
            $(ui.newPanel).removeClass("collapsed");
            $(ui.newPanel).siblings().removeClass("collapsed");
        }
    }
});
</script>
{% endblock %}