{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load static %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ unit.curriculum }} | {{ unit.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for unit as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ unit.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/bootstrap-drawer.min.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/drawer.min.js" %}"></script>
{% endblock %}

{% block admin_link %}
{% if user.is_staff %}
    {% include "curricula/partials/admin_menu.html" with page=unit pagetype="Unit" %}
{% endif %}
{% endblock %}


{% block header %}

{% include "curricula/partials/pl_header.html" with unit=unit %}

{% endblock %}

{% block resources_nav %}
    <ul class="breadcrumb">
        <li><a href={% url 'curriculum:curriculum_view' curriculum.slug %}>< {{ curriculum }}</a></li>
    </ul>
    {% comment %}{% include "curricula/partials/lesson_pills.html" with unit=unit changelog=changelog %}{% endcomment %}
{% endblock %}

{% block main %}

    <div class="together" id="unit{{ unit.number }}">

        <div class="unit-overview">

            <h1>{{ unit.long_name }}</h1>

            {% if unit.show_calendar %}{% include "curricula/partials/unit_calendar.html" with unit=unit %}{% endif %}

            {% editable unit.content %}
            {{ unit.content|richtext_filters|safe }}
            {% endeditable %}

        </div>

        <div class="clear"></div> 

    </div>


{% endblock %}

{% block footer_js %}

{% if user.is_staff %}
    <script src="{% static "js/admin_menu.js" %}"></script>
{% endif %}
{% endblock %}
