{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {{ curriculum.title }}{% if unit %} {{ unit.title }}{% endif %}: Resources
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
    {% if unit %}<h2>{{ unit.title }}</h2>{% endif %}
    <h3 class="disclaimer">Resources</h3>
{% endblock %}

{% block main %}
    {% if unit %}
        {% include 'curricula/partials/resource_list.html' with unit=unit %}
    {% else %}
        {% for unit in curriculum.units %}
            {% include 'curricula/partials/resource_list.html' with unit=unit %}
        {% endfor %}
    {% endif %}

{% endblock %}
