{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ curriculum.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ curriculum.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {{ curriculum.title }}: Resources
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block header_title %}
    <h1>{{ curriculum.title }}</h1>
    <span class="disclaimer">Resources</span>
{% endblock %}

{% block main %}
    {% for unit in curriculum.units %}
    <div class="together resource_list">
        <h2><a href="{{ unit.get_absolute_url }}">Unit {{ unit.number }}: {{ unit.title }}</a></h2>
            <div>
            {% for lesson in unit.lessons %}
                <h3><a href="{{ lesson.get_absolute_url }}">Lesson {{ lesson.number }}: {{ lesson.title }}</a></h3>
                <div>
                {% with lesson.resources.all as resources %}
                    {% regroup resources|dictsort:"student" by student as resources_by_audience %}
                    {% for audience in resources_by_audience %}
                        <h4>For the {{ audience.grouper|yesno:"Students,Teacher" }}</h4>
                        <ul>
                            {% for resource in audience.list %}
                                <li>
                                    {{ resource.formatted|safe }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endwith %}
                </div>
            {% endfor %}
            </div>
    </div>
    {% endfor %}

{% endblock %}
