{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ unit.curriculum }} | {{ unit.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for unit as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ unit.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{% endblock %}
{% block lessonnumber %}
    <div class="unitnumber"><a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}"><span class="h2">Unit</span><span class="h1">{{ unit.number }}</span></a></div>

    <div class="lessons">
    {% if unit.chapters %}
        {% for chap in unit.chapters %}
            <div class="lesson chapter">
                <a href="{{ unit.get_absolute_url }}ch{{ chap.number }}" data-pdf-link="#unit{{ unit.number }}chapter{{ chap.number }}">
                Ch. {{ chap.number }}
            </a>
            </div>
            {% for stage in chap.lessons %}
                <div class="lesson unfinished">
                <a href="{{ unit.get_absolute_url }}{{ stage.number }}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
                {{ stage.number }}
            </a>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for stage in unit.lessons %}
            <div class="lesson unfinished">
            <a href="{{ unit.get_absolute_url }}{{ stage.number }}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
            {{ stage.number }}
        </a>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block header_title %}
{% endblock %}

{% block main %}
    <div class="together" id="unit{{ unit.number }}">
    <h1>{{ unit.title }}</h1>
    {% editable unit.content %}
    {{ unit.content|richtext_filters|safe }}
    {% endeditable %}
    <h1>Lessons</h1>
        {% regroup unit.lessons by parent as lessons_by_chapter %}
        {% for chapter in lessons_by_chapter %}
            <h2><a href="ch{{ chapter.grouper.chapter.number }}/">Chapter {{ chapter.grouper.chapter.number }}: {{ chapter.grouper.title }}</a></h2>
            <ol start="{{ chapter.list.0.number }}">
            {% for lesson in chapter.list %}
                <li><a href="{{ lesson.number }}">{{ lesson.title }}</a></li>
            {% endfor %}
            </ol>
        {% endfor %}
    </div>


{% endblock %}
