{% extends "basecurriculum.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ unit.curriculum }} | {{ unit.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for unit as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ unit.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{% endblock %}
{% block lessonnumber %}
    <div class="unitnumber"><a href="{% url 'curriculum:unit_view' curriculum.slug unit.slug %}"><span class="h2">Unit</span><span class="h1">{{ unit.number }}</span></a></div>

    <div class="lessons">
    {% if unit.chapters %}
        {% for chap in unit.chapters %}
            <div class="lesson chapter">
                <a href="{{ unit.get_absolute_url }}ch{{ chap.number }}" data-pdf-link="#unit{{ unit.number }}chapter{{ chap.number }}">
                Ch. {{ chap.number }}
            </a>
            </div>
            {% for stage in chap.lessons %}
                <div class="lesson unfinished">
                <a href="{{ unit.get_absolute_url }}{{ stage.number }}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
                {{ stage.number }}
            </a>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for stage in unit.lessons %}
            <div class="lesson unfinished">
            <a href="{{ unit.get_absolute_url }}{{ stage.number }}" data-pdf-link="#unit{{ unit.number }}lesson{{ stage.number }}">
            {{ stage.number }}
        </a>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block header_title %}
{% endblock %}

{% block main %}
    <div class="together" id="unit{{ unit.number }}">
        <h1>Unit {{ unit.number }} - {{ unit.title }}</h1>
        {% editable unit.content %}
        {{ unit.content|richtext_filters|safe }}
        {% endeditable %}

        <div class="chapter_overviews">
            {% for chapter in unit.chapters %}

                <div class="chapter">
                <h1><a href="ch{{ chapter.number }}/">Chapter {{ chapter.number }}: {{ chapter.title }}</a></h1>

                {% if chapter.questions %}
                    <div class="big_questions">
                    <h3>Big Questions</h3>
                    {{ chapter.questions|richtext_filters|safe }}
                </div>
                {% endif %}

                {% if chapter.understandings.count > 0 %}
                    <div class="enduring_understandings">
                    <h3>Enduring Understandings</h3>
                        <ul>
                            {% for understanding in chapter.understandings.all %}
                                <li>{{ understanding.shortcode }} {{ understanding.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% regroup chapter.lessons by duration as lessons_by_week %}

                {% for week in lessons_by_week %}
                    {% if week.grouper != None %}<h2>Week {{ week.grouper }}</h2>{% endif %}
                    {% for lesson in week.list %}
                        <div class="lesson_overview">
                            <h3><a href="{{ lesson.number }}">Lesson {{ lesson.number }}: {{ lesson.title }}</a></h3>
                            <h4>
                            {% keywords_for lesson as keywords %}
                            {% for keyword in keywords %}
                                {% if not forloop.first %}| {% endif %}
                                {{ keyword }}
                            {% endfor %}
                            </h4>
                            <img src="{{ lesson.image|default:"/static/img/thumb_lesson.png" }}">
                            <span class="lesson_desc">{{ lesson.description }}</span>
                        </div>
                        {% if lesson.optional_lessons.count > 0 %}
                            {% for optional in lesson.optional_lessons %}
                                <div class="lesson_overview optional">
                                    <h3><a href="{{ lesson.number }}/optional/{{ optional.number }}">Optional Lesson: {{ optional.title }}</a></h3>
                                    <h4>
                                    {% keywords_for optional as keywords %}
                                    {% for keyword in keywords %}
                                        {% if not forloop.first %}| {% endif %}
                                        {{ keyword }}
                                    {% endfor %}
                                    </h4>
                                    <span class="lesson_desc">{{ optional.description }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}

                    {% endfor %}
                {% endfor %}
                </div>
                {% if not forloop.last %}<hr/>{% endif %}
            {% endfor %}
        </div>

    </div>


{% endblock %}
