db.sqlite3
*.pyc
.project
.pydevproject
vpython27
*.db
.DS_Store
.coverage
local_settings.py
staticfiles
.idea
wsgi/static
_output
backups
media
uploads

*.backup

\.env

docker-compose\.dev\.yml

*.tar

*.sql

heroku\.env

crowdin_credentials.yml
