Django>=1.8
Mezzanine==4.0.1
Pillow==2.9.0
Pygments==2.0.2
SQLAlchemy==1.0.5
Werkzeug==0.10.4
beautifulsoup4==4.4.0
bleach==1.4.1
boto
chardet==2.3.0
collectfast
data-importer
django-ajax-selects
django-appconf==1.0.1
django-compressor==1.5
django-contrib-comments==1.6.1
-e git://github.com/mrjoshida/django-csvimport.git@464ab20371aa9f5df75aef50a9194a69d1b46a48#egg=django_csvimport
django-debug-toolbar
django-extensions
django-import-export
django-medusa
django-postgrespool==0.3.0
django_redis
django-remplacer==0.1.1
django-storages
django-wkhtmltopdf==2.0.3
filebrowser-safe==0.4.0
future==0.15.0
-e git://github.com/mrjoshida/grappelli-nested-inlines.git@b6498cf1fd0a156991bbb4fe715582f5fb16d970#egg=grappelli_nested_inlines
grappelli-safe==0.4.1
gunicorn==19.3.0
html5lib==0.999999
Markdown==2.6.2
markdown-newtab
messytables==0.14.5
mezzanine-pagedown==0.8
oauthlib==0.7.2
psycopg2==2.6.1
pytz==2015.4
requests==2.7.0
requests-oauthlib==0.5.0
simplejson==3.2.0
six==1.9.0
sqlparse==0.1.15
tablib==0.10.0
tzlocal==1.2
whitenoise==2.0
wsgiref==0.1.2
