Django==1.8.6
Mezzanine==4.1.0
Pillow==3.0.0
Pygments==2.0.2
SQLAlchemy==1.0.5
Werkzeug==0.10.4
#beautifulsoup4==4.4.0
beautifulsoup4
bleach==1.4.2
boto
chardet==2.3.0
collectfast
data-importer
django-ajax-selects==1.3.6
django-appconf==1.0.1
#django-codemirror-widget
django-compressor==1.5
django-contrib-comments==1.6.2
django-cors-headers
#django-extensions==1.6.1
django-freeze
django-import-export
django-medusa
django-postgrespool==0.3.0
django_redis
django-remplacer==0.1.1
django-smuggler
django-storages
djangorestframework
djangorestframework-recursive
#dryscrape
filebrowser-safe==0.4.1
future==0.15.2
-e git://github.com/mrjoshida/django-csvimport.git@master#egg=django_csvimport
-e git://github.com/mrjoshida/grappelli-nested-inlines.git@master#egg=grappelli_nested_inlines
-e git://github.com/mrjoshida/PyPDF2.git@master#egg=PyPDF2
-e git://github.com/mrjoshida/django-extensions.git@master#egg=django_extensions
#-e git://github.com/mrjoshida/django-codemirror-widget.git@master#egg=django_codemirror_widget
grappelli-safe==0.4.2
gunicorn==19.3.0
html5lib==0.999999
Markdown==2.6.2
markdown-newtab
messytables==0.14.5
mezzanine-pagedown==0.8
oauthlib==1.0.3
pdfkit
plotly==1.9.3
psycopg2==2.6.1
pycurl==7.19.5.3
pyPdf==1.13
pytz==2015.7
#requests==2.7.0
requests
requests-oauthlib==0.6.0
simplejson==3.2.0
six==1.10.0
sortedcontainers==1.4.2
sqlparse==0.1.15
tablib==0.10.0
tzlocal==1.2
whitenoise==2.0
wsgiref==0.1.2
