{% extends "baselesson.html" %}

{% load staticfiles %}
{% load mezzanine_tags %}
{% load keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/lesson.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/toc.min.js" %}"></script>
{% endblock %}


{% block lessonnumber %}
    <div id="lessonnumber">{{ page.lesson.number }}</div>
{% endblock %}

{% block header_title %}
    {% if page.lesson.unplugged %}UNPLUGGED{% endif %}
    {% editable page.title %}
        <h1>{{ page.title }}</h1>
    {% endeditable %}
    <hr>
    Class sessions: {{ page.lesson.duration }}
    <span class="disclaimer">
  Basic lesson time includes activity only. Introductory and Wrap-Up suggestions can be used to delve deeper when time allows.
</span>
{% endblock %}

{% block main %}

    <div class="together">
        <h2>Lesson Overview</h2>
        {% editable page.lesson.overview %}
            {{ page.lesson.overview|richtext_filters|safe }}
        {% endeditable %}
    </div>

    {% if page.lesson.objective_set.count > 0 %}
        <div class="together">
            <h2>Lesson Objectives</h2>
            <h3>Students will:</h3>
            <ul>
                {% for objective in page.lesson.objective_set.all %}
                    <li>{{ objective.description }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if page.lesson.anchor_standards.all.count > 0 %}
        <h2>Anchor Standard{% if page.lesson.anchor_standards.all.count > 1 %}s{% endif %}</h2>
        {% with standards=page.lesson.anchor_standards.all %}
            {% regroup standards by framework as standards_by_framework %}
            {% for framework in standards_by_framework %}
                <h3>{{ framework.grouper }}</h3>
                <ul>
                    {% for standard in framework.list %}
                        <li><strong>{{ standard.shortcode }}</strong> - {{ standard.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endwith %}
    {% endif %}

    <div class="summary">
        <h2>Teaching Summary</h2>
        <div id="toc">
            {% for activity in page.lesson.activity_set.all %}
                <h3>{{ activity.name }}</h3>
            {% endfor %}
        </div>
    </div>

    <div id="lesson_content">

        <div class="together">

            <h1>Teaching Guide</h1>

            {% if page.lesson.resources %}
                <h2>Materials, Resources and Prep</h2>
                {% editable page.lesson.resources %}
                    {{ page.lesson.resources|richtext_filters|safe }}
                {% endeditable %}
            {% endif %}

            {% if page.lesson.vocab %}
                <h2>Vocabulary</h2>
                {% editable page.lesson.vocab %}
                    {{ page.lesson.vocab|richtext_filters|safe }}
                {% endeditable %}
            {% endif %}

        </div>

        {% for activity in page.lesson.activity_set.all %}
            <div class="together">
                {% editable activity.name activity.content %}
                    <h2>{{ activity.name }}</h2>
                    {{ activity.content|richtext_filters|safe }}
                {% endeditable %}
            </div>
        {% endfor %}
    </div>

    <div id="standards">
        <h2>Standards Alignment</h2>
        {% with standards=page.lesson.standards.all %}
            {% regroup standards by framework as standards_by_framework %}
            {% for framework in standards_by_framework %}
                <h3>{{ framework.grouper }}</h3>
                <ul>
                    {% for standard in framework.list %}
                        <li><strong>{{ standard.shortcode }}</strong> - {{ standard.name }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endwith %}
    </div>
    <script type="text/javascript">
        $('#toc').toc({
            'selectors': 'h2,h3', //elements to use as headings
            'container': '#lesson_content', //element to find all selectors in
            'smoothScrolling': true, //enable or disable smooth scrolling on click
            'prefix': 'toc', //prefix for anchor tags and class names
            'onHighlight': function (el) {
            }, //called when a new section is highlighted
            'highlightOnScroll': true, //add class to heading that is currently in focus
            'highlightOffset': 100, //offset to trigger the next headline
            'anchorName': function (i, heading, prefix) { //custom function for anchor name
                return prefix + i;
            },
            'headerText': function (i, heading, $heading) { //custom function building the header-item text
                return $heading.text();
            },
            'itemClass': function (i, heading, $heading, prefix) { // custom function for item class
                return $heading[0].tagName.toLowerCase();
            }
        });
    </script>

{% endblock %}
