/*input[type=text] { width: 100% !important; }*/
.inline-item-tools { width: auto !important; }
.page_type {
    margin-left: 5px;
    font-size: .8em;
    color: #666666;
}

.CodeMirror {
    /* Makes e.g. single line comments not take up the whole height */
    height: auto !important;
}

textarea {
    height: 50px;
}