
.container-anotacions {
    list-style: none outside none;
    position:relative;
    width:100%;
    padding:10px;
    margin:0 0 0 -22.5%;
    float:left;
    left:22.5%;

}

.annotator-marginviewer-element {
        border: 1px solid #b3b3b3;
        margin: 0px;
        margin-bottom: 10px;
        width: 227px;        
        font-size: 12px;
        cursor:pointer;
}
.annotator-marginviewer-element:before{
    content:none;
}

.annotator-marginviewer-element:hover {
        border: 1px solid #666666;
        background: #ffffff;
        background-color: #ffffff;
}

.annotator-marginviewer-header {
        border-bottom: 1px solid #b3b3b3;
        background-color: #e6e6e6;
        height: 26px;
        padding-right: 0.5em;
        padding-left: 0.5em;
      
}

.annotator-marginviewer-footer {        
        background-color: #f5f5f5;
        height: 26px;
        padding-right: 0.5em;
        padding-left: 0.5em;
        padding-top: 0.3em;
      
}
.annotator-marginviewer-highlighted>.annotator-marginviewer-header {
        background-color: #fbed20;
}
.annotator-marginviewer-selected>.annotator-marginviewer-header {
        background-color: #fbed20;
}

.annotator-marginviewer-text, .annotator-marginviewer-date {
    border-bottom: 1px solid #cccccc;
    background-color: #f5f5f5;
    padding: 0.5em;
    font-family: arial;
    font-size: 11px;
    line-height: 1.5em;
  
      
}

.panelTextArea {
    width:96%;
}

.annotator-marginviewer-quote {
    border-bottom: 1px solid #cccccc;
    background-color: #f5f5f5;
    padding: 0.5em;
    display: none;
    font-family: arial;
    font-size: 11px;
    line-height: 1.4em;
    padding-left: 0.6em;
}


.anotador_text {
    padding-left: 0.1em;
}

.annotator-marginviewer-highlighted>.annotator-marginviewer-text {
}
.annotator-marginviewer-selected>.annotator-marginviewer-text {
    /* Mozilla: */
    background: -moz-linear-gradient(top, #fef8cd, #f6edb5);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#fef8cd), to(#f6edb5));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#fef8cd', EndColorStr='#f6edb5', GradientType=0);
}

.annotator-panel-save, .annotator-panel-cancel, .annotator-panel-reset {
    position: relative;
    display: inline-block;
    padding: 0 12px 0 12px;
    color: #363636;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    text-decoration: none;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #a2a2a2;
    background-color: #d4d4d4;
    border-radius: 5px;
    margin-right: 3px;
}

.annotator-item-quote span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a58129;
    font-family: Georgia, serif;
}

.annotator-item-quote.annotator-touch-expand span {
    overflow: visible;
    text-overflow: inherit;
    white-space: inherit;
}

.annotator-item-quote button {
    font-size: 14px;
    line-height: 44px;
    margin-top: -13px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #a58129;
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
}

.annotator-button::after {
    background-repeat: no-repeat;
}

.annotator-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    display: inline-block;
    padding: 0 6px 0 22px;
    color: rgb(54, 54, 54);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-decoration: none;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgb(162, 162, 162);
    background-color: rgb(212, 212, 212);
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        from(rgb(245, 245, 245)),
        color-stop(0.5, rgb(210, 210, 210)),
        color-stop(0.5, rgb(190, 190, 190)),
        to(rgb(210, 210, 210))
    );
    background-image: -moz-linear-gradient(
        -90deg,
        rgb(245, 245, 245),
        rgb(210, 210, 210) 50%,
        rgb(190, 190, 190) 50%,
        rgb(210, 210, 210)
    );
    background-image: -webkit-linear-gradient(
        -90deg,
        rgb(245, 245, 245),
        rgb(210, 210, 210) 50%,
        rgb(190, 190, 190) 50%,
        rgb(210, 210, 210)
    );
    background-image: linear-gradient(
        to bottom,
        rgb(245, 245, 245),
        rgb(210, 210, 210) 50%,
        rgb(190, 190, 190) 50%,
        rgb(210, 210, 210)
    );
    -webkit-box-shadow:
        inset 0 0 5px rgba(255, 255, 255, 0.2),
        inset 0 0 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow:
        inset 0 0 5px rgba(255, 255, 255, 0.2),
        inset 0 0 1px rgba(255, 255, 255, 0.8);
    -o-box-shadow:
        inset 0 0 5px rgba(255, 255, 255, 0.2),
        inset 0 0 1px rgba(255, 255, 255, 0.8);
    box-shadow:
        inset 0 0 5px rgba(255, 255, 255, 0.2),
        inset 0 0 1px rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.annotator-button::after {
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    margin-top: -7px;
    background-position: 0 -90px;
}

.annotator-button:hover,
.annotator-button:focus,
.annotator-button.annotator-focus {
    outline: none;
    border-color: rgb(67, 90, 160);
    background-color: rgb(56, 101, 249);
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        from(rgb(118, 145, 251)),
        color-stop(0.5, rgb(80, 117, 251)),
        color-stop(0.5, rgb(56, 101, 249)),
        to(rgb(54, 101, 250))
    );
    background-image: -moz-linear-gradient(
        -90deg,
        rgb(118, 145, 251),
        rgb(80, 117, 251) 50%,
        rgb(56, 101, 249) 50%,
        rgb(54, 101, 250)
    );
    background-image: -webkit-linear-gradient(
        -90deg,
        rgb(118, 145, 251),
        rgb(80, 117, 251) 50%,
        rgb(56, 101, 249) 50%,
        rgb(54, 101, 250)
    );
    background-image: linear-gradient(
        to bottom,
        rgb(118, 145, 251),
        rgb(80, 117, 251) 50%,
        rgb(56, 101, 249) 50%,
        rgb(54, 101, 250)
    );
    color: rgb(255, 255, 255);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
}

.annotator-button:hover::after,
.annotator-button:focus::after {
    margin-top: -8px;
    background-position: 0 -105px;
}

.annotator-button:active {
    border-color: rgb(112, 12, 73);
    background-color: rgb(209, 46, 142);
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        from(rgb(252, 124, 202)),
        color-stop(0.5, rgb(232, 93, 178)),
        color-stop(0.5, rgb(209, 46, 142)),
        to(rgb(255, 0, 156))
    );
    background-image: -moz-linear-gradient(
        -90deg,
        rgb(252, 124, 202),
        rgb(232, 93, 178) 50%,
        rgb(209, 46, 142) 50%,
        rgb(255, 0, 156)
    );
    background-image: -webkit-linear-gradient(
        -90deg,
        rgb(252, 124, 202),
        rgb(232, 93, 178) 50%,
        rgb(209, 46, 142) 50%,
        rgb(255, 0, 156)
    );
    background-image: linear-gradient(
        to bottom,
        rgb(252, 124, 202),
        rgb(232, 93, 178) 50%,
        rgb(209, 46, 142) 50%,
        rgb(255, 0, 156)
    );
}

.annotator-button.annotator-save::after {
    background-position: 0 -120px;
}

.annotator-button.annotator-save::after,
.annotator-button.annotator-save:focus::after,
.annotator-button.annotator-save.annotator-focus::after {
    margin-top: -8px;
    background-position: 0 -135px;
}

/* Icon only button styles */

[data-annotator-use-icons] .annotator-touch-widget .annotator-button {
    /* width & overflow is required by Android WebKit */
    width: 1px;
    overflow: hidden;
    text-indent: -999em;
    padding-left: 25px;
}

[data-annotator-use-icons] .annotator-touch-controls .annotator-button {
    padding-left: 35px;
}

[data-annotator-use-icons] .annotator-touch-controls .annotator-button::after {
    left: 20px;
}

[data-annotator-use-icons] .annotator-touch-viewer .annotator-touch-controls button {
    padding-left: 25px;
    text-indent: -9000em;
}

[data-annotator-use-icons] .annotator-touch-viewer .annotator-touch-controls button::after {
    left: 15px;
}

[data-annotator-use-icons] .annotator-touch-viewer .annotator-widget {
    min-width: 320px;
}

/* Highlighter Selection Styles */

.annotator-selection-handle {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0;
    padding: 0;
    margin-left: -22px;
    margin-top: -22px;
    border-radius: 50%;
    /* Removes the tap outline on elements that have bound touch events */
    -webkit-tap-highlight-color: transparent;
}

.annotator-selection-handle::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -5px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.annotator-selection-start::after {
  top: -5px;
  bottom: auto;
  background-position: 0 -20px;
}

.annotator-selection-hide .annotator-selection-handle {
  display: none;
}