{% load pages_tags i18n future staticfiles %}

<ol>
    {% for page in page_branch %}
    <li id="ordering_{{ page.id }}">
        <div class="{% cycle 'row1' 'row2' %} page_type_{{ page.content_model }}"
                {% comment "too sql intensive" %}{% if page.content_model == 'block' %}style="border: 2px solid {{ page.block.parent_cat.color }}"{% endif %}{% endcomment %}>
            <a href="#" class="tree-toggle" id="page-{{ page.id }}"
                {% if not page.has_children %}style="visibility:hidden;"{% endif %}>
                <span class="icon open">+</span>
                <span class="icon close">-</span>
            </a>
            {% set_page_permissions page %}
            {% if page.perms.delete %}
            <a href="{% url "admin:pages_page_delete" page.id %}?fromtree" class="delete"></a>
            {% else %}
            <span class="delete" style="background:none;"></span>
            {% endif %}
            {% if page.perms.change %}
            <a href="{% url "admin:pages_page_change" page.id %}{% if not page.is_primary %}?parent={{ page.parent_id }}{% endif %}"
                class="changelink">{{ page.title }}</a>
            {% else %}
            <span class="uneditable">{{ page.title }}</span>
            {% endif %}
            <span class="page_type">{{ page.content_model }}{% comment "too sql intensive" %}{% if page.content_model == 'block' %} ({{ page.block.parent_cat }}){% endif %}{% endcomment %}</span>
            <span class="ordering"{% if not page.perms.change %}
                style="visibility:hidden;"{% endif %}>
                <strong>↕</strong>
                {% comment %}
                <img src="{% static settings.MEZZANINE_ADMIN_PREFIX|add:"img/admin/arrow-up.gif" %}">
                <img src="{% static settings.MEZZANINE_ADMIN_PREFIX|add:"img/admin/arrow-down.gif" %}">
                {% endcomment %}
            </span>
            {% if page.perms.add and page.content_model != 'block' %}
                <select class="addlist" id="addlink-{{ page.id }}">
                    <option value="">{% trans "Add" %} ...</option>
                        {% if page.content_model == 'curriculum' %}
                            <option value="/admin/documentation/map/add/?parent={{ page.id }}">
                                Map
                            </option>
                            <option value="/admin/curricula/unit/add/?parent={{ page.id }}">
                                Unit
                            </option>
                            <option value="/admin/curricula/frontmatter/add/?parent={{ page.id }}">
                                Front Matter
                            </option>
                        {% elif page.content_model == 'unit' %}
                            <option value="/admin/curricula/chapter/add/?parent={{ page.id }}">
                                Chapter
                            </option>
                            <option value="/admin/lessons/lesson/add/?parent={{ page.id }}">
                                Lesson
                            </option>
                        {% elif page.content_model == 'chapter' or page.content_model == 'lesson' %}
                            <option value="/admin/lessons/lesson/add/?parent={{ page.id }}">
                                Lesson
                            </option>
                        {% elif page.content_model == 'ide' %}
                            <option value="/admin/documentation/block/add/?parent={{ page.id }}">
                                Block
                            </option>
                        {% endif %}
                </select>
            {% endif %}

        </div>
        <br style="clear:both;">
        {% if page.has_children %}{% page_menu page %}{% endif %}
    </li>
    {% endfor %}
</ol>
