<div id="admin_edit" class="drawer drawer-right dw-xs-9 dw-sm-5 dw-md-3 fold" aria-labelledby="admin_edit">
    <div class="drawer-controls">
        <a href="#admin_edit" data-toggle="drawer" aria-foldedopen="false" aria-controls="admin_edit"
           class="btn btn-default btn-md"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i></a>
    </div>
    <div class="drawer-contents">
        <div class="drawer-heading">
            <h2 class="drawer-title">Settings</h2>
        </div>
        <div class="drawer-body">

            {% if can_administer %}
                <h2>Add to Log</h2>
                <form method="POST" action="." class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-primary">Save</button>
                </form>
                {% if unit %}
                <h3><a href="{% url 'curriculum:unit_feedback' curriculum.slug unit.slug %}">View unit feedback</a></h3>
                {% endif %}
                <h3><a href="{% url 'curriculum:page_history' page.pk %}">View history</a></h3>

                <h2>Publishing</h2>
                {% if page.jackfrost_can_build %}
                    <button class="btn btn-primary" id="publish_this" data-pk="{{ page.pk }}" data-type="{{ pagetype }}">
                        Publish
                    </button><i id="progress_spinner"></i>
                    <input type="checkbox" name="lessons" id="include_lessons"> Include Children</input>
                    <pre id="publish_results"></pre>
                    {% if pagetype == "Unit" %}
                    <button class="btn btn-primary" id="publish_pdfs" data-pk="{{ page.pk }}" data-type="{{ pagetype }}">Publish PDFs</button><i id="progress_spinner_pdf" style="margin: 5px;"></i><br/>
                    <pre id="publish_results_pdf"></pre>
                    {% endif %}
                {% else %}
                    <em>Can't publish, check settings in admin</em>
                {% endif %}

                <h2>deepSpaceCopy</h2>
                <button class="btn btn-primary" id="clone_this" data-pk="{{ page.pk }}" data-type="{{ pagetype }}">Clone</button>
                <input type="checkbox" name="children" id="clone_children"> Clone Children</input>
                <i id="clone_spinner"></i><br/>
                {% comment %} ToDo: add ability to clone into a different parent {% endcomment %}
                <pre id="clone_results"></pre>

                <h2>Code Studio</h2>
                <button class="btn btn-primary" id="get_stage_details" data-pk="{{ page.pk }}" data-type="{{ pagetype }}">
                    Get Code Studio Stage Details
                </button>
                <i id="stage_progress_spinner"></i>
                <pre id="stage_details_results"></pre>
            {% endif %}

            {% if pagetype == "Lesson" %}
                <h2>Resources</h2>
                <ul>
                    {% for resource in page.resources.all %}
                        <li>{{ resource }}</li>
                        <kbd draggable="true"
                            ondragstart="event.dataTransfer.setData('text/plain', '{{ resource.md_tag }}')">{{ resource.md_tag }}</kbd>
                    {% endfor %}
                </ul>
                <h2>Vocab</h2>
                {% for vocab in page.vocab.all %}
                    <li>{{ vocab.word }}</li>
                    <kbd draggable="true"
                     ondragstart="event.dataTransfer.setData('text/plain', '[v {{ vocab.word }}]')">[v {{ vocab.word }}]</kbd>
                {% endfor %}
                <h3><a href="{% url 'curriculum:lesson_markdown' curriculum.slug unit.slug lesson.number %}">Generate Student Facing Lesson Plan</a></h3>
            {% endif %}
        </div>
        <ul class="drawer-nav">
        </ul>
    </div>
</div>
