
<li class="level-bubble type-{{ level.type }} {{ unit.slug }}-stage-{{ lesson.number }}-level-{{ level.position }}-tab" data-level="{{ level.position }}" data-named="{{ level.named_level }}">
    <a href="#level-expando-{{ lesson.number }}-{{ level.position }}">
        {% if level.assessment %}
            <i class="fa-check-circle fa"></i>
        {% endif %}
        <span class="level-icon fa"></span>
        {% if level.bonus_level %}
            Extra
        {% else %}
            {{ level.position }}
        {% endif %}
    </a>
</li>
{% for sublevel in level.sublevels %}
<li class="level-bubble type-{{ sublevel.type }} {{ unit.slug }}-stage-{{ lesson.number }}-level-{{1}}-tab" data-level="{{1}}" data-named="{{ sublevel.named_level }}">
    <a href="#level-expando-{{ lesson.number }}-{{1}}">
        {% if sublevel.assessment %}
            <i class="fa-check-circle fa"></i>
        {% endif %}
        <span class="level-icon fa"></span>
        {% if sublevel.bonus_level %}
            Extra
        {% else %}
            {{level.position}}{{sublevel.name}}
        {% endif %}
    </a>
</li>
{% endfor %}
