{% load mezzanine_tags no_autoplay level_link level_embed %}

<div id="{{ unit.slug }}-stage-{{ lesson.number }}-levels" class="stage_guide_hidden">

    {% with lesson.get_levels as stage %}
        {% for chunk in stage %}

            <!-- Named Levels get their own row -->
            {% if chunk.named %}
                {% for level in chunk.levels %}

                <div class="stage-chunk named-{{ chunk.named }} always-on-{% if level.teacher_markdown %}True{% else %}False{% endif %}">

                    <!-- Header tabs -->
                    <ul>
                        <li class="chunk-header type-{{ level.type }} {{ unit.slug }}-stage-{{ lesson.number }}-level-{{ level.position }}-tab" data-level="{{ level.position }}" data-named="{{ level.named_level }}">
                            {{ level.display_name|default:level.name }} <span class="level-icon"></span>
                        </li>
                        {% if level.teacher_markdown %}
                        <li class="level-bubble type-{{ level.type }} {{ unit.slug }}-stage-{{ lesson.number }}-level-{{ level.position }}-tab" data-level="{{ level.position }}" data-named="{{ level.named_level }}">
                            <a href="#level-expando-{{ lesson.number }}-{{ level.position }}">
                                Teacher Overview
                                <!-- TODO: Remove outer if statement here when -->
                                    <!-- we want to roll out for all courses not just CSD -->
                                    {% if 'csd' in level.path and '2019' in level.path %}
                                        {% if level.assessment %}
                                            <span class="assessment-icon fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-1x"></i>
                                                <i class="fa fa-check-circle-o fa-stack-1x "></i>
                                            </span>
                                        {% endif %}
                                    {% endif %}
                            </a>
                        </li>
                        {% endif %}
                        <li class="level-bubble {{ unit.slug }}-stage-{{ lesson.number }}-level-{{ level.position }}-tab" data-level="{{ level.position }}" data-named="{{ level.named_level }}">
                            <a href="#level-expando-{{ lesson.number }}-{{ level.position }}-sfmd">
                                Student Overview
                            </a>
                        </li>
                    </ul>

                    <!-- Body panels -->
                    <!-- Teacher Overview Content -->
                    {% if level.teacher_markdown %}
                    <div id="level-expando-{{ lesson.number }}-{{ level.position }}" class="level-panel" data-level="{{ level.position }}" markdown="1">

                        <a href="{{ level.path|level_link }}" target="_blank" class="level-link">
                            View on Code Studio
                        </a>

                        <div class="teacher-markdown">
                            {{ level.teacher_markdown|richtext_filters|safe }}
                        </div>

                    </div>
                    {% endif %}

                    <!-- Student Overview Content -->
                    <div id="level-expando-{{ lesson.number }}-{{ level.position }}-sfmd" class="level-panel" data-level="{{ level.position }}" markdown="1">

                        <a href="{{ level.path|level_link }}" target="_blank" class="level-link">
                            View on Code Studio
                        </a>

                        <div class="instructions-markdown">

                            {{ level.markdown|richtext_filters|safe }}
                            {{ level.markdown_instructions|richtext_filters|safe }}
                            {{ level.long_instructions|richtext_filters|safe }}

                        </div>

                        <!-- Embed video if present -->
                        {% if level.type == "StandaloneVideo" and not pdf%}
                        <div class="level-video">
                            <iframe allowfullscreen="" frameborder="0" height="480" src="{{ level.video_youtube|no_autoplay }}" width="853"></iframe>
                            <p><a href="{{ level.video_download }}">Download Video</a></p>
                        </div>
                        {% endif %}

                        <!-- Include contained levels for predictions -->
                        {% if level.reference  and not pdf %}
                        <div class="curriculum-reference">
                            <iframe frameborder="0" class="map-embed" src="{{ level.reference|level_embed }}" width="100%" height="500"></iframe>
                        </div>
                        {% endif %}

                        {% if level.contained_levels %}
                            <div class="contained">
                                {% for contained in level.contained_levels %}
                                    {{ contained.markdown_instructions|richtext_filters|safe }}
                                    {{ contained.long_instructions|richtext_filters|safe }}
                                    <div class="question">
                                        {{ contained.questions.0.text|richtext_filters|safe }}
                                    </div>
                                    {% for answer in contained.answers %}
                                        <div class="answer answer-{{ answer.correct }}">{{ answer.text|richtext_filters|safe }}</div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

            <!-- Unnamed Levels are grouped in a row together -->
            {% else %}
                <div class="stage-chunk named-{{ chunk.named }} always-on-False">

                    <!-- Header tabs -->
                    <ul>
                        <li class="chunk-header">
                            {{ chunk.progression|default:"Levels" }}
                        </li>
                        {% for level in chunk.levels %}
                            <li class="level-bubble type-{{ level.type }} {{ unit.slug }}-stage-{{ lesson.number }}-level-{{ level.position }}-tab" data-level="{{ level.position }}" data-named="{{ level.named_level }}">
                                <a href="#level-expando-{{ lesson.number }}-{{ level.position }}">
                                    <span class="level-icon"></span>
                                    {% if level.bonus_level %}
                                        Extra
                                    {% else %}
                                        {{ level.position }}
                                    {% endif %}
                                    <!-- TODO: Remove outer if statement here when -->
                                    <!-- we want to roll out for all courses not just CSD -->
                                    {% if 'csd' in level.path and '2019' in level.path %}
                                        {% if level.assessment %}
                                            <span class="assessment-icon fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-1x"></i>
                                                <i class="fa fa-check-circle-o fa-stack-1x "></i>
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="level-expando-tip">(click tabs to see student view)</li>
                    </ul>

                    <!-- Body panels -->
                    {% for level in chunk.levels %}
                    <div id="level-expando-{{ lesson.number }}-{{ level.position }}" class="level-panel" data-level="{{ level.position }}">

                        <a href="{{ level.path|level_link }}" target="_blank" class="level-link">
                            View on Code Studio
                        </a>

                        <!-- TODO: Remove outer if statement here when -->
                        <!-- we want to roll out for all courses not just CSD -->
                        {% if 'csd' in level.path and '2019' in level.path %}
                            {% if level.mini_rubric %}
                                <div class="admonition assessment">
                                    <p class="admonition-title">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        Teacher Evaluation Guidelines
                                    </p>
                                    <div class="rubric-key-concept">
                                        <span class="rubric-header">Key Concepts:</span>
                                        <p>
                                            {{ level.rubric_key_concept|richtext_filters|safe }}
                                        </p>
                                    </div>
                                    <div>
                                        <span class="rubric-header">Assessment Criteria:</span>
                                        <details class="rubric-performance-level">
                                            <summary>Exceeds</summary>
                                            <p>
                                                {{ level.rubric_exceeds|richtext_filters|safe }}
                                            </p>
                                        </details>
                                        <details class="rubric-performance-level">
                                            <summary>Meets</summary>
                                            <p>
                                                {{ level.rubric_meets|richtext_filters|safe }}
                                            </p>
                                        </details>
                                        <details class="rubric-performance-level">
                                            <summary>Approaches</summary>
                                            <p>
                                                {{ level.rubric_approaches|richtext_filters|safe }}
                                            </p>
                                        </details>
                                        <details class="rubric-performance-level">
                                            <summary>No Evidence</summary>
                                            <p>
                                                {{ level.rubric_no_evidence|richtext_filters|safe }}
                                            </p>
                                        </details>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if level.teacher_markdown %}
                            <div class="teacher-markdown admonition tip">
                            <p class="admonition-title"><i class="fa fa-lightbulb-o"></i> Teaching Tip</p>
                                {{ level.teacher_markdown|richtext_filters|safe }}
                            </div>
                        {% endif %}

                        <div class="instructions-markdown" markdown="1">
                            <h3>Student Instructions</h3>
                            {{ level.markdown|richtext_filters|safe }}
                            {{ level.markdown_instructions|richtext_filters|safe }}
                            {{ level.long_instructions|richtext_filters|safe }}
                        </div>

                        <!-- Embed video if present -->
                        {% if level.type == "StandaloneVideo" and not pdf%}
                        <div class="level-video">
                            <iframe allowfullscreen="" frameborder="0" height="480" src="{{ level.video_youtube|no_autoplay }}" width="853"></iframe>
                            <p><a href="{{ level.video_download }}">Download Video</a></p>
                        </div>
                        {% endif %}

                        <!-- Include contained levels for predictions -->
                        {% if level.reference and not pdf %}
                        <div class="curriculum-reference">
                            <iframe frameborder="0" class="map-embed" src="https://docs.code.org{{ level.reference }}" width="100%" height="500"></iframe>
                        </div>
                        {% endif %}

                        {% if level.contained_levels %}
                            <div class="contained">
                                {% for contained in level.contained_levels %}
                                    {{ contained.markdown_instructions|richtext_filters|safe }}
                                    {{ contained.long_instructions|richtext_filters|safe }}
                                    <div class="question">
                                        {{ contained.questions.0.text|richtext_filters|safe }}
                                    </div>
                                    {% for answer in contained.answers %}
                                        <div class="answer answer-{{ answer.correct }}">{{ answer.text|richtext_filters|safe }}</div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
</div>