 <div class="resource-nav btn-toolbar" role="toolbar" aria-label="Unit Resources">
    <div class="btn-group btn-group-xs" role="group" aria-label="PDF Buttons">
        <a href="{{ curriculum.get_absolute_url }}standards/" class="btn" role="button">Standards</a>
        <a href="{{ curriculum.get_absolute_url }}vocab/" class="btn" role="button">Vocab</a>
        <a href="{{ curriculum.get_absolute_url }}code/" class="btn" role="button">Code Documentation</a>
        <a href="{{ curriculum.get_absolute_url }}resources/" class="btn" role="button">Other Resources</a>
    </div>
</div>