{% load mezzanine_tags i18n staticfiles %}
{% trans 'If you are interested in licensing Code.org materials for commercial purposes, [contact us](//code.org/contact).' as license %}

<footer>
  <div class="container">
    <div class="row">
      <a href="https://creativecommons.org/" style="float: left">
        {% if lesson %}
          <img src="{% static lesson.creative_commons_image %}" border="0">
        {% else %}
          <img src="{% static "img/creativeCommons-by-nc-sa.png" %}" border="0">
        {% endif %}
      </a>

      <div style="float: right; position: relative;">
        {% include "curricula/partials/language_select.html" %}
      </div>
    </div>
    <div class="row">
      <span class="license">{{ license|richtext_filters|safe }}</span>
    </div>
  </div>
</footer>
