{% load mezzanine_tags %}
<div class="resource-nav btn-toolbar" role="toolbar" aria-label="Lesson Resources">
    <div class="btn-group btn-group-xs" role="group" aria-label="PDF Buttons">
        <a href="{{ unit.get_absolute_url }}" class="btn" role="button">Unit Overview</a>
        <a href="{{ unit.get_pdf_url }}" class="btn" role="button">All Lessons PDF</a>
        <a href="{{ unit.get_resources_url }}" class="btn" role="button">All Handouts PDF</a>
        {% if changelog.count > 0 %}

            <div class="btn-group" role="group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Last updated {{ changelog.first.revision.date_created|date:"n/j/y" }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for version in changelog%}
                <li><strong>{{ version.revision.date_created|date:"n/j/y" }}</strong><span style="display:block">{{ version.revision.comment|richtext_filters|safe }}</span></li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    </div>
</div>