{% load i18n %}
{% load mezzanine_tags %}
<div class="resource-nav btn-toolbar" role="toolbar" aria-label="Lesson Resources">
    <div class="btn-group btn-group-xs" role="group" aria-label="PDF Buttons">
        <a href="{{ unit.get_absolute_url }}" class="btn" role="button">{% trans 'Unit Overview' %}</a>
        {# Removing lessons PDF link from CSF until we can fix it #}
        {% if unit.has_resource_pdf %}
        <a href="{{ unit.get_pdf_url }}" class="btn" role="button">{% trans 'All Lessons PDF' %}</a>
        {% endif %}
        {# Removing handouts PDF link from CSF until we can fix it #}
        {% if unit.has_resource_pdf %}
        <a href="{{ unit.get_resources_pdf_url }}" class="btn" role="button">{% trans 'All Handouts PDF' %}</a>
        {% endif %}
        {% if changelog.count > 0 %}

            <div class="btn-group" role="group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                {% trans 'Last updated' %} {{ changelog.first.revision.date_created|date:"n/j/y" }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for version in changelog%}
                <li><strong>{{ version.revision.date_created|date:"n/j/y" }}</strong><span style="display:block">{{ version.revision.comment|richtext_filters|safe }}</span></li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    </div>
</div>
