{% load mezzanine_tags no_autoplay level_link level_embed i18n %}


<div id="level-expando-{{ lesson.number }}-{{ level.position }}" class="level-panel" data-level="{{ level.position }}">
    <a href="{{ level.path|level_link }}" target="_blank" class="level-link">
        {% trans "View on Code Studio" %}
        <span class="level-link-icon fa"></span>
    </a>

    {% if level.mini_rubric == "true" %}
       {% include "curricula/partials/code_studio_pull_through/level_mini_rubric.html" with level=level %}
    {% endif %}

    {% if level.teacher_markdown %}
        <div class="teacher-markdown admonition tip">
        <p class="admonition-title"><i class="fa fa-lightbulb-o"></i> {% trans "Teaching Tip" %}</p>
            {{ level.teacher_markdown|richtext_filters|safe }}
        </div>
    {% endif %}

    <!-- Include contained levels for predictions -->
    {% if level.contained_levels %}
        {% include "curricula/partials/code_studio_pull_through/contained_level.html" with level=level %}
    {% else %}
        <div class="instructions-markdown" markdown="1">
            <h3>{% trans "Student Instructions" %}</h3>
            {{ level.markdown|richtext_filters|safe }}
            {{ level.markdown_instructions|richtext_filters|safe }}
            {% if level.parsed_long_instructions %}
                {{ level.parsed_long_instructions|richtext_filters|safe }}
            {% else %}
                {{ level.long_instructions|richtext_filters|safe }}
            {% endif %}
        </div>
    {% endif %}

    <!-- Embed video if present -->
    {% if level.type == "StandaloneVideo" and not pdf%}
    <div class="level-video">
        <iframe allowfullscreen="" frameborder="0" height="480" src="{{ level.video_youtube|no_autoplay }}" width="853"></iframe>
        <p><a href="{{ level.video_download }}">{% trans "Download Video" %}</a></p>
    </div>
    {% endif %}

    <!-- Curriculum Reference level -->
    {% if level.type == "LevelGroup" %}
    <div class="level-group">
        <p>
            {% trans "This level is an assessment or survey with multiple questions." %}
            {% trans "To view this level click the "View on Code Studio" link." %}
        </p>
    </div>
    {% endif %}

    <!-- Curriculum Reference level -->
    {% if level.reference and not pdf %}
    <div class="curriculum-reference">
        <iframe frameborder="0" class="map-embed" src="{{ level.reference|level_embed }}" width="100%" height="500"></iframe>
    </div>
    {% endif %}

    {% if level.type == "BubbleChoice" %}
       {% include "curricula/partials/code_studio_pull_through/level_bubble_choice_parent.html" with level=level %}
    {% endif %}
</div>
