{% load i18n %}
<li class="level-bubble type-{{ level.type }} {{ unit.slug }}-stage-{{ lesson.number }}-level-{{ level.position }}-tab" data-level="{{ level.position }}" data-named="{{ level.named_level }}">
    <a href="#level-expando-{{ lesson.number }}-{{ level.position }}">
        {% if level.assessment %}
            <i class="fa-check-circle fa"></i>
        {% endif %}
        <span class="level-icon fa"></span>
        {% if level.bonus_level %}
            {% trans "Extra" %}
        {% else %}
            {{ level.position }}
        {% endif %}
    </a>
</li>
