{% load mezzanine_tags no_autoplay level_link level_embed %}

<div id="level-expando-{{ lesson.number }}-{{ level.position }}-sfmd" class="level-panel" data-level="{{ level.position }}" markdown="1">

    <a href="{{ level.path|level_link }}" target="_blank" class="level-link">
        {% trans "View on Code Studio" %}
        <span class="level-link-icon fa"></span>
    </a>

    <!-- Include contained levels for predictions -->
    {% if level.contained_levels %}
        {% include "curricula/partials/code_studio_pull_through/contained_level.html" with level=level %}
    {% else %}
        <div class="instructions-markdown">
            {{ level.markdown|richtext_filters|safe }}
            {{ level.markdown_instructions|richtext_filters|safe }}
            {{ level.long_instructions|richtext_filters|safe }}
        </div>
    {% endif %}

    <!-- Embed video if present -->
    {% if level.type == "StandaloneVideo" and not pdf%}
    <div class="level-video">
        <iframe allowfullscreen="" frameborder="0" height="480" src="{{ level.video_youtube|no_autoplay }}" width="853"></iframe>
        <p><a href="{{ level.video_download }}">{% trans "Download Video" %}</a></p>
    </div>
    {% endif %}

    <!-- Curriculum Reference levels -->
    {% if level.reference and not pdf %}
    <div class="curriculum-reference">
        <iframe frameborder="0" class="map-embed" src="{{ level.reference|level_embed }}" width="100%" height="500"></iframe>
    </div>
    {% endif %}
</div>
