{% load i18n %}
{% load field_type %}

{# Edit form #}
<form style="display:none;" class="editable-form" method="post"
    action="{% url "edit" %}" id="{{ editable_form.uuid }}"
    {% if editable_form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% for field in editable_form %}
    <div{% if field.is_hidden %} style="display:none;"{% endif %}>
        {{ field.label_tag }}
        <br />{{ field }}{{ field.errors }}

        {# The django-codemirror-widget plugin makes assuptions about the field id #}
        {# Those assumptions are untrue in the inline editor, so we load manually #}
        {% if field|field_type == 'CodeMirrorTextarea' %}
            <script type="text/javascript">
                var thisScript = $('script').last();
                var uuid = $(thisScript).closest('form').attr('id');
                var editor = CodeMirror.fromTextArea(document.getElementById("{{ field.name }}-{{ editable_form.uuid }}"),
                        {
                            theme: "default",
                            mode: "markdown",
                            lineWrapping: true,
                            lineNumbers: false,
                            autoRefresh: true,
                            autoCloseBrackets: true,
                            matchBrackets: true,
                            extraKeys: {
                                "Enter": "newlineAndIndentContinueMarkdownList",
                                "Cmd-B": function(cm) {
                                    var selection = cm.getSelection();
                                    cm.replaceSelection('**' + selection + '**');
                                    if (!selection) {
                                        var cursorPos = cm.getCursor();
                                        cm.setCursor(cursorPos.line, cursorPos.ch - 2);
                                    }
                                },
                                "Ctrl-B": function(cm) {
                                    var selection = cm.getSelection();
                                    cm.replaceSelection('**' + selection + '**');
                                    if (!selection) {
                                        var cursorPos = cm.getCursor();
                                        cm.setCursor(cursorPos.line, cursorPos.ch - 2);
                                    }
                                },
                                "Cmd-I": function(cm) {
                                    var selection = cm.getSelection();
                                    cm.replaceSelection('_' + selection + '_');
                                    if (!selection) {
                                        var cursorPos = cm.getCursor();
                                        cm.setCursor(cursorPos.line, cursorPos.ch - 2);
                                    }
                                },
                                "Ctrl-I": function(cm) {
                                    var selection = cm.getSelection();
                                    cm.replaceSelection('_' + selection + '_');
                                    if (!selection) {
                                        var cursorPos = cm.getCursor();
                                        cm.setCursor(cursorPos.line, cursorPos.ch - 2);
                                    }
                                },
                            },
                            buttons: [
                                {
                                    class: 'tip',
                                    label: '<i class="fa fa-lightbulb-o"></i>',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        if (!selection) selection = 'Teaching tip content here';
                                        cm.replaceSelection('\ntip!!!tip-id<!-- place where you\'d like the icon -->' +
                                                '\n\n!!!tip <tip-id>\n    ' + selection + '\n');
                                        if (!selection) {
                                            var cursorPos = cm.getCursor();
                                            cm.setCursor(cursorPos.line, cursorPos.ch - 1);
                                        }
                                    }
                                },
                                {
                                    class: 'discussion',
                                    label: '<i class="glyphicon glyphicon-comment"></i>',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        if (!selection) selection = 'Discussion goal content here';
                                        cm.replaceSelection('\ndiscussion!!!discussion-id<!-- place where you\'d like the icon -->' +
                                                '\n\n!!!discussion <discussion-id>\n    ' + selection + '\n');
                                        if (!selection) {
                                            var cursorPos = cm.getCursor();
                                            cm.setCursor(cursorPos.line, cursorPos.ch - 1);
                                        }
                                    }
                                },
                                {
                                    class: 'content',
                                    label: '<i class="glyphicon glyphicon-education"></i>',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        if (!selection) selection = 'Content corner content here';
                                        cm.replaceSelection('\ncontent!!!content-id<!-- place where you\'d like the icon -->' +
                                                '\n\n!!!content <content-id>\n    ' + selection + '\n');
                                        if (!selection) {
                                            var cursorPos = cm.getCursor();
                                            cm.setCursor(cursorPos.line, cursorPos.ch - 1);
                                        }
                                    }
                                },
                                {
                                    class: 'studio',
                                    label: '<i class="fa fa-desktop" aria-hidden="true"></i>',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        cm.replaceSelection('&fa-desktop;' + selection);
                                    }
                                },
                                {
                                    class: 'css',
                                    label: '<i class="fa fa-css3" aria-hidden="true"></i>',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        cm.replaceSelection(selection + '{: style="float:right"}');
                                    }
                                },
                                /*{
                                    class: 'inline-code',
                                    label: 'code',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        cm.replaceSelection("`" + selection + "`");
                                        if (!selection) {
                                            var cursorPos = cm.getCursor();
                                            cm.setCursor(cursorPos.line, cursorPos.ch - 1);
                                        }
                                    }
                                },
                                {
                                    class: 'block-code',
                                    label: '&lt;-&gt;',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        cm.replaceSelection("```\n" + selection + "\n```\n");
                                        if (!selection) {
                                            var cursorPos = cm.getCursor();
                                            cm.setCursor(cursorPos.line - 2, 0);
                                        }
                                    }
                                },*/
                                {
                                    class: 'a',
                                    label: 'a',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        var text = '';
                                        var link = '';

                                        if (selection.match(/^https?:\/\//)) {
                                            link = selection;
                                        } else {
                                            text = selection;
                                        }
                                        cm.replaceSelection('[' + text + '](' + link + ')');

                                        var cursorPos = cm.getCursor();
                                        if (!selection) {
                                            cm.setCursor(cursorPos.line, cursorPos.ch - 3);
                                        } else if (link) {
                                            cm.setCursor(cursorPos.line, cursorPos.ch - (3 + link.length));
                                        } else {
                                            cm.setCursor(cursorPos.line, cursorPos.ch - 1);
                                        }
                                    }
                                },
                                {
                                    class: 'img',
                                    label: 'img',
                                    callback: function (cm) {
                                        var selection = cm.getSelection();
                                        var text = '';
                                        var link = '';

                                        if (selection.match(/^https?:\/\//)) {
                                            link = selection;
                                        } else {
                                            text = selection;
                                        }
                                        cm.replaceSelection('![' + text + '](' + link + '){: style=""}');

                                        var cursorPos = cm.getCursor();
                                        if (!selection) {
                                            cm.setCursor(cursorPos.line, cursorPos.ch - 3);
                                        } else if (link) {
                                            cm.setCursor(cursorPos.line, cursorPos.ch - (3 + link.length));
                                        } else {
                                            cm.setCursor(cursorPos.line, cursorPos.ch - 1);
                                        }
                                    }
                                }
                            ],

                        });
                setTimeout(editor.refresh(),0); // Otherwise filed is blank until clicked
            </script>
        {% endif %}
        {% if field.help_text %}
        <span class="helptext">{{ field.help_text }}</span>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="{% trans "Save" %}" class="btn btn-primary btn-lg">
    <input type="button" value="{% trans "Cancel" %}" class="btn btn-default btn-lg">
</form>

{# Original content wrapped in span #}
<div class="editable-original">{{ original }}</div>

{# Edit link #}
<a style="visibility:hidden;" class="editable-link" href="#"
    rel="#{{ editable_form.uuid }}">{% trans "Edit" %}</a>

{# Edit highlight #}
<div style="visibility:hidden;" class="editable-highlight"></div>
