html, body{
    margin: 0 !important;
    font-size: 16px;
    line-height: 1.2em;
    height:100%;
    font-family: Helvetica, Arial, sans-serif;
}

.unitnumber {
    background-color: rgb(0, 178, 192) !important;
    min-width: 75px;
    float: left;
    text-align: center;
    font-size: 50px;
    /*line-height: 72px;*/
    height: 100px;
    color: white!important;
    font-family: 'Gotham 7r', sans-serif;
}

.unitnumber a:hover {
    text-decoration: none;
}

.unitnumber .h2 {
	font-size: 13pt;
    text-transform: uppercase;
    margin: 10px 5px 0 5px;
    display: block;
}

.unitnumber .h1 {
    margin: 0;
    display: block;
    font-size: 60px;
    line-height: 1em;
}

.pagebreak{
    page-break-after: always;
}

.header {
    overflow: auto;
    margin-top: 20px;
}

.headercontent {
    margin-left: 0;
    margin-right: 97px;
}

.headercontent .h1 {
    font-size: 60px;
    line-height: 1em;
    margin-top:.125em;
    margin-bottom:.25em;
}

.headercontent .lessons {
    /*display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding-right: 10px;
    float: left;*/
    padding: 2px;
}

.lessons .lesson a {
	border-radius: 20px;
	width: 40px;
	height: 40px;
}

.lessons .current a {
    background-color: #fefefe!important;
}

.lessons .finished a {
    background-color: rgba(254,254,254,.5)!important;
}

.lessons .lesson a {
    border: 2px solid #fefefe;
    text-align: center;
    float: left;
    margin: 4px;
    color: #7665a0;
    line-height: 36px;
    font-size: 14pt;
    font-weight: 600;
}

.lessons .current a {
    color: #7665a0!important;
}

.lessons .unfinished a {
    color: #fefefe!important;
}

.lessons .chapter {
    width: auto;
    height: 36px;
    padding: 0 5px;
    color: #fefefe!important;
    text-align: center;
    float: left;
    margin: 6px;
    line-height: 36px;
    font-size: 14pt;
    font-weight: 600;
}

.resource-nav {
    float:right;
}

.resource-nav .btn {
    background: #cfc9de;
}

.resource-nav .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
}

.resource-nav .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-right-radius: 0;
}

.resource-nav button {
    font-size: 12px;
    margin: 0;
    padding: 1px 5px;
    line-height: 1.5;
    height: auto;
    color: #7665a0;
    font-family: 'Gotham 7r', sans-serif;
}

.resource-nav ul.dropdown-menu {
    min-width: 300px;
    left: auto;
    right: 0;
}

.resource-nav ul.dropdown-menu li {
    font-size: 12px;
    margin: 5px 15px;
    line-height: 1.2em;
}
.content {
    padding: 0;
    margin: 30px 0;
}

.content h1 {
    color: #7665a0;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    margin-top:.5em;
    margin-bottom: .5em;
    border: none;
}

.content h2 {
    color: #7665a0;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content h3 {
    font-size: 1.2em;
    line-height: 1em;
    margin-top:1em;
    margin-bottom:.5em;
}

.content p, .content li {
    font-size: 0.8em;
}

/* Don't make each list level smaller */
.content li li, .content li p {
    font-size: 1em;
}

.overview-page {
    page-break-after: always;
    word-wrap: break-word;
}

.overview-page.pl {
    page-break-after: auto;
}

.overview-page .left-col {
    border-right: 1px solid #ccc;
}

.overview-page h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.overview-page h3 {
    font-size: 0.8em;
    font-weight: bold;
}

.overview-page .h2 {
    color: #5d6770;
    font-size: 0.8em;
    line-height: 1em;
    margin-top:1em;
    margin-bottom:.5em;
    font-weight: bold;
    list-style-type: none;
    padding: 0;
}

.overview-page .h3 {
    font-size: 0.8em;
    line-height: 1.25em;
    margin-left: 30px;
}

.summary {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: white;
    clear: both;
    /*page-break-after:always;*/
}
.summary h2 {
  color: rgb(120,101,161);
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.summary .h2 {
    color:rgb(120,101,161);
    text-transform:uppercase;
    font-size: 1.2em;
    line-height: 1em;
    margin-top:1em;
    margin-bottom:.5em;
    font-weight: bold;
}

.summary .h3 {
    font-size: 0.9em;
    line-height: 1.25em;
    margin-left: 30px;
}

.summary ul {
    list-style-type: none;
    padding: 0;
}

.summary a {
    color: dimgray;
    text-decoration: none;
    display: block;
}

/*#toc .toc-active {
    background: #336699;
    color: #fff;
    box-shadow: inset -5px 0px 10px -5px #000;
}*/

.toc .h2 { margin-top: 0.5em; }
.toc .h3 { margin-top: 0; }

.toc a { color: #428bca; }
.toc a:visited { color: #428bca; }

.admonition.tip, .admonition.tip-center, .admonition.discussion, .admonition.content {
    margin: 40px 15px 15px 15px;
    padding: 10px;
    float: right;
    width: 50%;
    page-break-inside: avoid;
}

.admonition.tip-center {
    text-align: inherit;
    width: 100%;
    margin: 40px 0 15px 0;
    float: none;
}

.admonition p {
    /*font-size: 15px;*/
    line-height: 1.3em;
    font-style: normal;
}

.admonition i {
    margin-right: 7px;
}

.admonition.tip > .admonition-title, .admonition.tip-center > .admonition-title,
.admonition.discussion > .admonition-title, .admonition.content > .admonition-title {
    color: white!important;
    font-size: 12pt;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    float: left;
    padding: 5px 10px;
    margin-top: -40px;
    -webkit-print-color-adjust: exact;
}

.admonition.tip {
    border: 2px solid #ffa400;
}

.admonition.tip > p.admonition-title {
    background-color: #ffa400!important;
}

.admonition.discussion {
    border: 2px solid #7665a0;
}

.admonition.discussion > p.admonition-title {
    background-color: #7665a0!important;
}

.admonition.content {
    border: 2px solid #00adbc;
}

.admonition.content > p.admonition-title {
    background-color: #00adbc!important;
}

.tiplink {
    float: left;
    width: 20px;
    font-size: 15px;
    margin-left: -20px;
    clear: left;
    display: block;
}

.tiplink-tip a:link, .tiplink-tip a:visited {
    color: #ffa400;
}

.tiplink-discussion a:link, .tiplink-discussion a:visited {
    color: #7665a0;
}

.tiplink-content a:link, .tiplink-content a:visited {
    color: #00adbc;
}

.say > .admonition-title, .guide > .admonition-title,
.guide > h4:first-of-type, .slides > h4:first-of-type {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    margin-left: -18px;
    padding-bottom: 5px;
    background: white;
}

.guide > h4:first-of-type:before {
    content: "\f044";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-right: 7px;
}

.slides > h4:first-of-type:before {
    content: "\f24d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-right: 7px;
}

.say {
    border-left: 5px solid #CCC;
    padding-left: 10px;
}

.guide {
    border-left: 5px solid #00adbc;
    padding-left: 10px;
}

.slides {
    border-left: 5px solid #ffa400;
    padding-left: 10px;
}

.say .tiplink, .guide .tiplink, .slides .tiplink {
    margin-left: -35px;
}

.say ul .tiplink, .guide ul .tiplink, .slides ul .tiplink {
    margin-left: -55px;
}

table { border-spacing: 0; }


th {
    background-color: rgb(0, 178, 192);
    color: white;
    padding: 15px;
    border-color: rgb(0, 178, 192);
    border-width: 1px;
    border-style: solid;
}

td {
    border-width: 1px;
    border-color: rgb(141, 138, 138);
    border-style: solid;
    padding: 15px;
}

th a:link, th a:visited, th a:hover, th a:active {
    color: white;
}


.lesson-table tr td:nth-child(2){
    width:1%;
    white-space:nowrap;
}

.rollout-table td, .rollout-table th {
    width: 14%;
}

.rollout-table th {
    text-align: center;
}

.framework-table tr td:first-child {
    font-weight: bold;
}

.video { float: right !important; }

.video div {
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
}

.container_nonresponsive .content {
    margin: 0 10px;
}

.prep ul {
    list-style: none;
    padding-left: 0;
}

.prep ul li {
    margin-left: 25px;
}

.prep ul input {
    margin-left: 3px;
    float: left;
}

.vocab {
    text-decoration: underline;
}

.vocab-word {
    font-weight: bold;
}

.drawer-controls i {
    font-size: 2em;
    color: #ccc;
}

/* Inline Editing */
.editable-form {
    width: 90%;
    max-width: 1000px;
}

/* Chapter overview styling */

.chapter_overviews h1 {
    margin-top: 25px;
}

.chapter_overviews h2 {
    font-size: 1.6em;
    font-weight: 100;
    margin-top: 10px;
}

.chapter_overviews h3, .chapter_overviews h3 a {
    font-size: 1.2em;
    font-weight: 100;
    font-family: 'Gotham 5r', sans-serif;
    color: rgb(0, 178, 192);
    margin-top: .5em;
}

.chapter_overviews .big_questions {
    float: left;
    width: 49%
}

.chapter_overviews .enduring_understandings {
    float: right;
    width: 49%;
}

.chapter_overviews .enduring_understandings ul, .chapter_overviews .big_questions ul {
    border: 1px solid rgb(0, 178, 192);
    padding: 10px 10px 10px 30px;
    width: 100%;
}

.chapter_overviews h2 {
    clear:both;
}

.chapter_overviews summary {
    margin-top: 25px;
    color: #7665a0;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0em;
    border: none;
}

.lesson_overview {
    display: inline-block;
    clear:both;
    width: 100%;
}

.lesson_overview img {
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 100px;
    float: right
}

.lesson_overview.optional {
    border: 1px solid #ffa400;
    padding: 0 10px 10px 10px;
    margin-top: 10px;
}

.lesson_overview.optional h3 a {
    color: #ffa400;
}

.lesson_overview.practice-pt {
    border: 1px solid rgb(0, 178, 192);
    padding: 0 10px 10px 10px;
    margin-top: 10px;
}

/* Stage Overview */

/*
.stage_guide, .stage_guide_hidden {
    overflow: auto;
    background-color: #f5fcff;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: -20px;
    border-radius: 10px;
}
*/

.stage_guide:empty, .stage_guide_hidden:empty {
    display: none;
}

.stage_guide_hidden {
    display: none;
}

.stage_guide {
    clear: both;
}

.stage-chunk {
    padding: 0;
    margin-top: 15px;
}

.stage-chunk .ui-tabs-panel {
    overflow: auto;
    background-color: #f5fcff;
    border: 2px solid  #0094ca;
}

.stage-chunk .ui-tabs-panel.collapsed {
    padding: 0;
    height: 15px;
    display: block !important;  /* overriding default jQuery ui behavior */
    border-color: #c5c5c5;
    background: #f6f6f6;
}

.stage-chunk .ui-tabs-panel.collapsed * {
    display: none;
}

.stage-chunk.ui-widget.ui-widget-content {
    border: none;
}

.stage-chunk .ui-widget-header {
    border: none;
    background: none;
}

.stage-chunk .ui-widget-header .chunk-header {
    padding: .2em 1em 0 .5em;
    font-size: 1.2em;
    color: #0094ca;
}

.stage-chunk.named-False .ui-widget-header .chunk-header {
    color: #949ca2;
}

.stage-chunk .ui-state-active {
    border: 2px solid  #0094ca;
    background: #59b9dc;
}

.stage-chunk.named-False .admonition {
    clear: right;
}

.stage-chunk .ui-tabs-nav .level-expando-tip {
    font-style: oblique;
    font-size: .75em;
    color: #949ca2;
    padding: 1em 0 0 .5em;
}

.level-panel .answer p {
    padding: 0;
    margin: 0;
}

.level-panel .answer {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.level-panel .answer-False {
    border: 5px solid red;
}

.level-panel .answer-True {
    border: 5px solid green;
}

/*
.stage-level{
    float: left;
}

.teacher-markdown-false .level-link {
    float: left;
    margin-bottom: 15px;
}
*/

.level-link {
    /*
    margin: 5px 10px 5px 0;
    padding: 5px;
    border: 2px solid #cfc9de;
    border-radius: 5px;
    */
    font-size: .75em;
    float: right;
}

.level-link:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    content: "\f08e";
}

/*
.stage-level.teacher-markdown-false {
    margin: 5px 10px 5px 0;
    padding: 5px;
    border: 2px solid #cfc9de;
    border-radius: 5px;
}
*/

/*
.stage-level.teacher-markdown-true {
    padding-left: 25px;
}

.stage-level.teacher-markdown-true .level-link {
    margin-left: -18px;
}
*/
/*
.named-True, .named-True + .stage-level,
.teacher-markdown-true, .teacher-markdown-true + .stage-level,
.type-StandaloneVideo, .type-StandaloneVideo + .stage-level {
    clear: both;
}

.teacher-markdown-false .instructions-markdown {
    float: left;
    margin-left: 5px;
}

.teacher-markdown-false .instructions-markdown[open] {
    clear:both;
}
*/
.level-icon:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

.type-External .level-icon:before {                 content: "\f0f6"; }
.type-Map .level-icon:before {                      content: "\f278"; }
.type-StandaloneVideo .level-icon:before {          content: "\f03d"; }
.type-FreeResponse .level-icon:before {             content: "\f040"; }
.type-Multi .level-icon:before {                    content: "\f0ca"; }
.type-Match .level-icon:before {                    content: "\f009"; }
.type-Applab .level-icon:before {                   content: "\f10b"; }
.type-NetSim .level-icon:before {                   content: "\f0e8"; }
.type-Pixelation .level-icon:before {               content: "\f00a"; }
.type-TextCompression .level-icon:before {          content: "\f066"; }
.type-Odometer .level-icon:before {                 content: "\f0e4"; }
.type-Gamelab .level-icon:before {                  content: "\f11b"; }
.type-Weblab .level-icon:before {                   content: "\f0ac"; }
.type-Unplugged .level-icon:before {                content: "\f127"; }
.type-Maze .level-icon:before {                     content: "\f047"; }
.type-Karel .level-icon:before {                    content: "\f047"; }
.type-Artist .level-icon:before {                   content: "\f040"; }
.type-Playlab .level-icon:before {                  content: "\f135"; }
.type-Calc .level-icon:before {                     content: "\f1ec"; }
.type-Eval .level-icon:before {                     content: "\f040"; }
.level-icon:before {                                content: "\f108"; }


ul.multi {
    list-style-type: none;
}

ul.multi li {
    text-indent: -1.4em;
}

li.correct-False:before {
    font-family: 'FontAwesome';
    content: '\f096';
    float: left;
    width: 1.4em;
}

li.correct-True:before {
    font-family: 'FontAwesome';
    content: '\f046';
    float: left;
    width: 1.4em;
}

/* Feedback Section */

.open_questions {
    /*border: 2px solid #ffa400;*/
    background: #ebe8f1;
    padding: 10px 15px;
    margin-left: -15px
}

a.btn.btn-warning:link {
    color: #FFFFFF;
}

a.btn.btn-warning:visited {
    color: #FFFFFF;
}

.modal-body {
    max-height: calc(100vh - 275px);
    overflow-y: auto;
}

@page
{
    size: auto;
    margin: .25in .25in .25in .25in;
}

@media only screen and (max-width : 480px) {
    .admonition.tip, .admonition.discussion, .admonition.content {
        text-align: inherit;
        width: 100%;
        margin: 40px 0 15px 0;
        float: none;
    }

    .tiplink { display: none;}
}

@media print {
    .say .admonition-title, .guide .admonition-title,
    .say h4, .guide h4, .slides h4{
        background: white !important;
    }

    body {
        font-size: 20px;
    }
}