import os

PROJECT_APP_PATH = os.path.dirname(os.path.abspath(__file__))
PROJECT_ROOT = BASE_DIR = os.path.dirname(PROJECT_APP_PATH)

DEBUG = True

SLACK_BACKEND = 'django_slack.backends.DisabledBackend'

STATICFILES_STORAGE = 'whitenoise.django.GzipManifestStaticFilesStorage'
STATIC_URL = '/static/'
COMPRESS_STORAGE = 'compressor.storage.CompressorFileStorage'

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.locmem.LocMemCache',
        'LOCATION': 'unique-snowflake',
    }
}

DATABASES = {
    "default": {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
	'NAME': 'curriculumbuilder',
    }
}
