import os

PROJECT_APP_PATH = os.path.dirname(os.path.abspath(__file__))
PROJECT_ROOT = BASE_DIR = os.path.dirname(PROJECT_APP_PATH)

DEBUG = True

SLACK_BACKEND = 'django_slack.backends.DisabledBackend'

# Uncomment the following lines to serve static assets locally 
# during development (e.g. CSS, images).
# Note: These lines must be absent for unit tests to pass on linux.
#
# STATICFILES_STORAGE = 'whitenoise.django.GzipManifestStaticFilesStorage'
# STATIC_URL = '/static/'

COMPRESS_STORAGE = 'compressor.storage.CompressorFileStorage'

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.locmem.LocMemCache',
        'LOCATION': 'unique-snowflake',
    }
}

DATABASES = {
    "default": {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'curriculumbuilder',
    }
}
