{% load i18n future staticfiles %}
{% comment 'removing togetherjs while I work on saving sort order' %}
<script src="https://togetherjs.com/togetherjs-min.js"></script>
<script type="text/javascript">
    if (window.__csrf_token) {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", window.__csrf_token);
            }
        });
    }
</script>
{% endcomment %}

<link rel="stylesheet" href="{% static "css/admin.css" %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/codemirror.spell-checker/latest/spell-checker.min.css">
<script src="https://cdn.jsdelivr.net/codemirror.spell-checker/latest/spell-checker.min.js"></script>
<script src="{% static "codemirror/addon/mode/overlay.js" %}"></script>

<div id="header">
    <div class="branding">&nbsp;</div>
    <!-- Title -->
    <div class="admin-title">CurriculumBuilder</div>
    {% if user.is_authenticated and user.is_staff %}
    <!-- Bookmarks (temporary) -->
    <ul id="user-tools">
        {% comment %}<button onclick="TogetherJS(this); return false;">Start TogetherJS</button>{% endcomment %}
        <!-- Username -->
        <li><strong>{% firstof user.first_name user.username %}</strong></li>
        <!-- Userlinks -->
        {% block userlinks %}
        <!-- Documentation -->
        {% url "django-admindocs-docroot" as docsroot %}
        {% if docsroot %}
        <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
        {% endif %}
        <!-- Change Password -->
        {% url "admin:password_change" as password_change_url %}
        {% if password_change_url %}
        <li><a href="{{ password_change_url }}">
        {% else %}
        <li><a href="{{ root_path }}password_change/">
        {% endif %}
        {% trans 'Change password' %}</a></li>
        <!-- Logout -->
        {% url "admin:logout" as logout_url %}
        {% if logout_url %}
        <li><a href="{{ logout_url }}">
        {% else %}
        <li><a href="{{ root_path }}logout/">
        {% endif %}
        {% trans 'Log out' %}</a></li>
        {% endblock %}
    </ul>
    {% endif %}
</div>
