<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}Code.org CurriculumBuilder{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
        <link rel="stylesheet" href="https://code.org/style.css">
        <link rel="stylesheet" href="{% static "css/curriculum.css" %}">
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

{% block admin_link %}
{% endblock %}

<div class="container_nonresponsive">
    <div class="header printbackground">
        <div class="headercontent">
            <div id="top">
                <div id="divforpdf">
                    <div id="logo">
                        <img src="{% static "images/logo.png" %}">
                    </div>
                    {% block lessonnumber %}
                    {% endblock %}
                </div>
            </div>
            <div class="printbackground" id="bottom">
            {% block header_title %}
                {% editable page.title %}
                <h1>{{ page.title }}</h1>
                {% endeditable %}
                <hr>
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="content">
        {% block main %}{% endblock %}
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <a href="http://creativecommons.org/"><img src="http://www.thinkersmith.org/images/creativeCommons.png" border="0"></a>
        </div>
    </div>
</footer>
<div id="print_trigger"></div>

<script type="text/javascript">

    $(document).ready(function() {
        if ($("#print_trigger").css("display") == "none" ){
            $('a[data-pdf-link]').each(function() {
                this.href = $(this).attr('data-pdf-link');
            });
        }
    });
</script>

{% include "includes/footer_scripts.html" %}

</body>
</html>
