<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}Code.org Tool Documentation{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/v4-shims.css">
    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
        <link rel="stylesheet" href="{% static "css/codeorg.css" %}">
        <link rel="stylesheet" href="{% static "css/common.css" %}">
        <link href="{% static "cdo/css/applab-docs.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static "css/bootstrap-drawer.min.css" %}">
    {% endblock %}

    <script src="//code.org/js/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap-extras.js" %}"></script>
    {% block extra_js %}
        <script src="{% static "js/drawer.min.js" %}"></script>
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
<div class="container">


    <div id="doc_header">
        {% block header %}<h1>{{ ide }}Documentation</h1>{% endblock %}
    </div>
    <div class="row">
    {% block sidebar %}
        <div id="categories" class="col-sm-2 hidden-sm hidden-xs">
            {% block categories %}
                {% if ide.categories.count > 0 %}
                    <ul class="category_list">
                    {% for category in ide.categories.all %}
                        <li class="category_name{% if category == code_block.parent_cat %} active{% endif %}"
                            style="background: {{ category.color }}; border-left-color: {{ category.color }}"
                            data-color="{{ category.color }}"><span>{{ category.name }}</span>
                        {% if category.blocks.count > 0 %}
                            <ul class="category_blocks" {% if category != code_block.parent_cat %}style="display: none;"{% endif %}>
                            {% for block in category.blocks.all %}
                                <li><a href="{{ block.get_absolute_url }}">{{ block.title }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
        {% block main %}
            <div class="content col-md-10"></div>
        {% endblock %}
    </div>
</div>
{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <a href="http://creativecommons.org/"><img src="{% static "img/creativeCommons.png" %}" border="0"></a><br/>
            <span class="license">If you are interested in licensing Code.org materials for commercial purposes, <a href="//code.org/contact">contact us.</a></span>
        </div>
    </div>
</footer>
{% endblock %}
{% block footer_scripts %}{% endblock %}
{% include "includes/footer_scripts.html" with gaid="UA-37745279-9" %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.category_name span').each(function() {
            $(this).click(function() {
                console.log($(this));
                $(this).parent().find('ul').slideToggle();
                $(this).parent().toggleClass("active");
                $(this).parent().siblings().removeClass("active");
            })
        });

        // Convert streaming responses to formattable JSON
        function parseResponse(responseText) {
            var responses = responseText.split("\n");
            var response = [];
            for (var i in responses) {
                if (responses[i] != "") {
                    response.push(JSON.parse(responses[i]));
                }
            }
            return response
        }

        // Publish button
        $("#publish_this").click(function () {
            $('#publish_this').html("Publishing...").removeClass('btn-warning btn-success').addClass('btn-primary');
            var pk = $(this).attr('data-pk');
            var type = $(this).attr('data-type');
            var lesson_check = $('#include_lessons');
            var lessons = false;
            if (lesson_check) {
                lessons = $(lesson_check).prop('checked');
            }
             $('#progress_spinner').addClass('fa fa-cog fa-spin');

            // Switch to streaming results
            var params = "pk=" + pk + "&type=" + type + "&lessons=" + lessons;
            var client = new XMLHttpRequest();
            client.open('GET', '/publish/?' + params, true);
            client.setRequestHeader("Content-type", "application/json; charset=utf-8");
            client.onprogress = function(){
                var response = parseResponse(this.responseText);
                $("#publish_results").text(JSON.stringify(response, null, 2));
                console.log(this.responseText);
            };
            client.upload.addEventListener('error', function(event){
                var response = parseResponse(this.responseText);
                $("#publish_this").addClass('btn-warning').text("Failed");
                $("#publish_results").text(JSON.stringify(response, null, 2));
                $('#progress_spinner').removeClass('fa fa-cog fa-spin');
            });

            client.addEventListener('readystatechange', function(e) {
                if (this.readyState == 4) {
                    console.log(this.status);
                    var response = parseResponse(this.responseText);
                    if (this.status == 200) {
                        $("#publish_this").addClass('btn-success').text("Success");
                        $("#publish_results").text(JSON.stringify(response, null, 2));
                        $("#publish_results").append('\nFinished');
                        $('#progress_spinner').removeClass('fa fa-cog fa-spin');
                    } else {
                        $("#publish_this").addClass('btn-warning').text("Failed");
                        $("#publish_results").text(JSON.stringify(response, null, 2));
                        $("#publish_results").append('\nFailed');
                        $('#progress_spinner').removeClass('fa fa-cog fa-spin');
                    }
                }
            });
            client.send();
        });

        // Clone button
        $("#clone_this").click(function () {
            $('#clone_this').html("Cloning...").removeClass('btn-warning btn-success').addClass('btn-primary');
            var pk = $(this).attr('data-pk');
            console.log("pk: " + pk);
            var type = $(this).attr('data-type');
            console.log("type: " + type);
            $('#clone_spinner').addClass('fa fa-cog fa-spin');

            $.ajax({
                 type: "POST",
                 url: "/clone/",
                 data: {pk: pk, type: type},
                 timeout: 9999999
            }).done(function (response) {
                $("#clone_this").addClass('btn-success').text("Success");
                $("#clone_results").text(JSON.stringify(response, undefined, 2));
                $('#clone_spinner').removeClass('fa fa-cog fa-spin');
                if (response.hasOwnProperty('redirect_url')) {
                    setTimeout(function () {
                        window.location.href = response.redirect_url;
                    }, 500);
                }
            }).fail(function (response) {
                $("#clone_this").addClass('btn-warning').text("Failed");
                $("#clone_results").text(JSON.stringify(response, undefined, 2));
                $('#clone_spinner').removeClass('fa fa-cog fa-spin');
            });
        });
    })
</script>
</body>
</html>
